<div class="container" *ngIf="!(threadLoading$ | async) && thread$ | async as thread else unsuccessfull">
  <thread-banner [thread]="thread"></thread-banner>
  <discussion-post *ngFor="let post of thread.posts" [post]="post"></discussion-post>
  <hr>
  <div class="card p-3 post-reply">
    <h4>Reply to Thread</h4>
    <post-editor [post]="post"></post-editor>
    <div class="row">
      <button class="btn btn-primary" (click)="postReply(thread)">Post Reply</button>
    </div>
  </div>
</div>
<ng-template #unsuccessfull>
  <div class="container">
    <div class="container alert alert-danger mt-2" *ngIf="threadLoadError$ | async as error">{{error}}</div>
    <loading-container *ngIf="threadLoading$ | async"></loading-container>
  </div>
</ng-template>