<div class="speciesCard">
    <a [routerLink]="[species.id]">
        <img class="card-img-top" [src]='species.thumbnail ? species.thumbnail:"assets/unknown-species.png"'
            alt="Species thumbnail">
    </a>
    <a [routerLink]="[species.id]" class="title">
        {{species.name}}
    </a>
    <div class="body">
        <p class="card-text">Aggressive</p>
    </div>
    <div class="footer">
        <button class="btn btn-link">Add...</button>
        <button class="btn">
            <fa-icon [icon]="faStar" class="mr-1"></fa-icon>
        </button>
    </div>
</div>