<div class="container aquarium-selection-component">
  <h3 class="m-2">Aquariums</h3>
  <aquarium-table (rowClicked)="clickAquarium($event[1])"></aquarium-table>
  <h3 class="m-2">Species</h3>
  <species-table (rowClicked)="clickSpecies($event[1])"
    [displayedColumns]="['name','fishCount','aquariumCount','price','careLevel']"></species-table>
  <button mat-list-item type="button" class="btn btn-default btn-sm" [routerLink]="['species','add']">
    <fa-icon class="addIcon mr-2" [icon]="faCreate"></fa-icon>New Species...
  </button>
</div>