.fish-card-component
{
    position: relative;
    width:160px;

    .card-img-top
    {
        width:160px;
        height:160px;
    }
    .fish-species {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .fish-name {
        font-weight:bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}