<div class="profile-activity-post">
  <div class="row m-2">
    <profile-icon-badge class="profile-icon-badge" [profile]="author"></profile-icon-badge>
    <div class="post-banner">
      Created a post in <b>Application - Development</b>
    </div>
  </div>
  <div class="content p-2">
    <p>
      Lorem ipsum dolor sit amet, omnes oportere ne pro, soleat virtute scripserit pro id. Civibus splendide mei ea, cum
      summo dissentiunt an. Prima numquam debitis has id, ex reque mucius elaboraret pri, vidit harum intellegebat mel
      ex. Ei verear volumus vituperata has.

      Per congue impetus salutandi ea. Modo adipisci ut eam, mei te nisl imperdiet reprehendunt. Vim ei doctus recteque,
      eos cu officiis ponderum. Modo alia admodum ei vis, purto noluisse sit an, qui blandit mediocritatem eu. Ignota
      laoreet duo cu, eos zril dolore ut. In modo erant vitae quo.

      Mei munere elaboraret inciderint ad. Putant officiis percipitur eum ea, congue eripuit utroque ius ne. Ne ius
      essent everti, magna veniam soleat ei his. In mei mundi accusam intellegat, vis purto doctus at. Ut sint cibo
      numquam duo, no pro doming nominati gubergren.

      Ex pri errem pericula. An accusam singulis nec, per no option imperdiet hendrerit, congue fabulas detraxit eu nam.
      Odio instructior ut sea, at debet discere nusquam per. Facilis constituam mea te, pri cu dignissim maiestatis, nec
      iriure integre te. Integre blandit reprehendunt an quo. Est principes corrumpit an.

      Mei id offendit appellantur. Vis in tantas nonumy detracto. Mel vide vitae no, ex has virtute vulputate. Ne laudem
      invenire necessitatibus nec, duo ex quis nihil convenire. Te pro soluta urbanitas. Ne nam idque ceteros, wisi
      equidem tacimates in eos.

      An adhuc viderer offendit nec, vel quis enim mucius ex. An phaedrum qualisque est, cu eos graeco discere. Cum te
      posse epicurei elaboraret, mucius prompta intellegat vix te. Vis ut tritani euripidis, justo salutandi vel eu. Vis
      atqui imperdiet ei.

      Nec consulatu eloquentiam eu, tantas consectetuer sit eu, vim semper similique in. Duo velit oratio reprehendunt
      ea, labitur aliquando ad cum, ad nam sale viris deterruisset. Stet discere ex vis. Ex brute facilisi nec.

      Est choro feugiat saperet ad. Sea ridens consulatu molestiae ei, eu sea minim gubergren neglegentur. Placerat
      periculis instructior mea ad, id consul fuisset vis. Sonet vocibus docendi in eos, eu tempor labitur nusquam vix.
      Aeterno gloriatur eu eos. Solum saperet percipit quo eu.

      Dicit mediocrem et vix, ut posse suscipit explicari qui. Ne rationibus cotidieque definitionem usu. At utamur
      omittam consetetur mel, sit ex amet autem recusabo, nobis diceret phaedrum sit ex. Prompta mediocrem ei sed, eu
      modo corrumpit duo. Omnesque vivendum salutatus ut mea. Nonumy aperiam adversarium per an, ea fastidii quaestio
      quo, reque graecis philosophia ei vel.

      Nominati recteque duo et, ne usu detracto atomorum, nec augue quaestio et. Putant noluisse in vis, ei mei erant
      legere possit, et eum illud dictas reprehendunt. Nam cu omnis novum, sea tale adipiscing ea, at duo principes
      contentiones. Vero lorem omnium ne nam, ne nam congue tacimates, discere tibique referrentur no pri. Duo ubique
      eligendi cu, eu meliore fabellas pri.

      Wisi novum nonumy ius ad. Nec an lorem lobortis disputando, te mazim euismod mea. Facilisis voluptatibus has eu.
      Agam commodo mandamus vel et, augue fuisset ea ius. Audiam debitis mei no.

      Voluptua antiopam postulant vix ad, mea te tollit delectus necessitatibus. Facilis appellantur id nec, at movet
      nominati nec. Sea viderer persius corrumpit ut, soluta libris no ius, similique intellegam dissentiet usu ne. Nam
      facilisi complectitur ne, fugit deserunt incorrupte an his, eu audire accommodare has.

      Deseruisse ullamcorper est id, has odio harum appareat no. Pri viris affert melius te, eu saperet officiis per.
      Usu ad doctus comprehensam, ex quis suas diceret his, tation honestatis dissentiunt usu ne. Sea te augue nusquam,
      elit primis vocent ne eum. Nam ei nemore everti.

      Ne vim eripuit offendit. An erant omittam cotidieque sea. No euismod copiosae periculis sit, congue nemore
      similique an vis, dicta dolore ei vis. Sint atomorum definiebas pri id, nam ex eros augue erroribus.

      In alii vituperatoribus duo. Sea eu cetero consetetur, mea facer molestiae at. His ne maiorum democritum
      definitionem. Propriae senserit signiferumque qui id. Id eam omnes dolore. Vix ne omnis ludus splendide, at vis
      modo mnesarchum appellantur.

      Perfecto honestatis ei per, elit lucilius incorrupte ius ea. Vel modo putant apeirian cu. Ei modo consulatu qui,
      pro ut mandamus cotidieque. Pri ad albucius lucilius. Has exerci graeco omittam an. Alii everti atomorum at usu,
      ceteros assueverit per no.

      Magna oportere patrioque ex eam. Eos at tamquam voluptua contentiones, admodum accusata patrioque est no. Qui id
      consul elaboraret conclusionemque, ut debet honestatis mea, vel odio utroque electram ei. Nonumes habemus mea id.

      Cu per paulo fierent. Ne simul impedit vim. Et eos detracto nominavi consequat, nonumy propriae sit id, eu amet
      persius reprehendunt pri. Ex pro agam error accusamus, an quo eros summo oporteat. Cu debet timeam democritum quo,
      pri corpora salutandi neglegentur cu. Wisi virtute sensibus an qui, et usu tibique honestatis.

      Liber accusam deleniti cu eam, vis no primis alterum graecis, mel ad habeo atqui pertinax. Nisl omnium tibique qui
      ad, et usu ubique alterum hendrerit, an erant audiam epicuri qui. Vel no quod postulant. Usu primis vocent
      tincidunt at, mei laoreet denique vituperata ei, qui ei sonet assueverit.

      Eos constituto incorrupte an, graece maiestatis cum ad, ea vel nemore ancillae deterruisset. Te fugit facilisi
      honestatis vel. Ius inani periculis in. At has aeque graecis mnesarchum.

      Mundi voluptua vituperatoribus eum cu, te quidam legimus facilisis quo. No eam quis pertinacia temporibus, ius eu
      quidam meliore efficiantur. Aperiam appetere necessitatibus vim ei, ipsum discere expetendis ad vix, platonem
      percipitur sit et. Ea his inimicus adolescens.

      His cu ignota nostro, an libris quaeque hendrerit usu. Per offendit corrumpit ne, no assum aeterno quo. Tempor
      maiorum tibique et pro. Eu affert audiam mea, et per liber omnes.

      Sed verterem sententiae te. Autem justo dolorem et qui. Te simul assentior nec. Pri ad voluptaria disputationi,
      nam ne doctus concludaturque, an mel scaevola maluisset omittantur.

      Vis tantas docendi dolores an, unum gloriatur et est. Doming impedit deleniti no mel. Ex oratio discere
      reprehendunt eos, virtute postulant at pri. Suavitate sadipscing eam an, mei ei ullum munere facilis. Pri veritus
      dignissim reprimique no, eirmod sapientem has id, at pro reque iusto quaeque. Ex ferri consectetuer quo, vix liber
      pertinacia ei.

      Et assum novum vidisse nec. Mea ad mazim patrioque.
    </p>
  </div>
  <button class="btn btn-link">See More...</button>
  <div class="row actions">
    <div class="col">
      <button class="btn btn-link">Like</button>
    </div>
    <div class="col">
      <button class="btn btn-link">Comment</button>
    </div>
    <div class="col">
        <button class="btn btn-link">Share</button>
      </div>
  </div>
</div>