<ng-container *ngIf="aquarium$ | async as aquarium else loading">
    <div class="row m-2">
        <div class="card w-100">

            <div class="card-body">
                <div class="card-title">
                    <h3>Basic Information</h3>
                </div>
                <div>
                    <mat-form-field class="example-full-width m-3">
                        <input matInput placeholder="Name" [value]="aquarium.name" [(ngModel)]="aquariumName"
                            [disabled]="(updating | async)">
                    </mat-form-field>
                    <mat-form-field class="m-3">
                        <input matInput [matDatepicker]="picker1" placeholder="Start Date" [formControl]="date"
                            [value]="aquarium.startDate" [disabled]="(updating | async)">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="example-full-width m-3">
                        <input type="number" matInput placeholder="Size (Gallons)" [value]="aquarium.gallons"
                            [(ngModel)]="aquariumSize" [disabled]="(updating | async)">
                    </mat-form-field>
                    <mat-form-field class="example-full-width m-3">
                        <input type="text" matInput placeholder="Tank Type" [value]="aquarium.type"
                            [(ngModel)]="aquariumType" [disabled]="(updating | async)">
                    </mat-form-field>

                </div>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h3>Photo Configuration</h3>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label>Sharpness</label>
                        <div class="row">
                            <mat-slider min="-100" max="100" step="1" [disabled]="(updating | async)" thumbLabel [(ngModel)]="cameraConfig.sharpness">
                            </mat-slider>
                        </div>
                        <label>Contrast</label>
                        <div class="row">
                            <mat-slider min="-100" max="100" step="1" [disabled]="(updating | async)" thumbLabel [(ngModel)]="cameraConfig.contrast">
                            </mat-slider>
                        </div>
                        <label>Brightness</label>
                        <div class="row">
                            <mat-slider min="-100" max="100" step="1" [disabled]="(updating | async)" thumbLabel [(ngModel)]="cameraConfig.brightness">
                            </mat-slider>
                        </div>
                        <label>Saturation</label>
                        <div class="row">
                            <mat-slider min="-100" max="100" step="1" [disabled]="(updating | async)" thumbLabel [(ngModel)]="cameraConfig.saturation">
                            </mat-slider>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">

                            <mat-form-field class="example-full-width m-3">
                                <input matInput placeholder="ISO" [(ngModel)]="cameraConfig.iso"
                                    [disabled]="(updating | async)">
                            </mat-form-field>
                        </div>
                        <div class="row">

                            <mat-form-field class="example-full-width m-3">
                                <input matInput placeholder="Rotation" [(ngModel)]="cameraConfig.rotation"
                                    [disabled]="(updating | async)">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Exposure</mat-label>
                                <mat-select [(value)]="cameraConfig.exposureMode">
                                    <mat-option *ngFor="let mode of exposureModes" [value]="mode.value">
                                        {{mode.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="row">
                            <mat-checkbox class="example-margin" [(ngModel)]="cameraConfig.hFlip">Horizonal Flip
                            </mat-checkbox>
                        </div>
                        <div class="row">
                            <mat-checkbox class="example-margin" [(ngModel)]="cameraConfig.vFlip">Vertical
                                Flip
                            </mat-checkbox>
                        </div>
                        <div class="row">
                            <mat-form-field class="example-full-width mt-3 mb-3">
                                <input matInput placeholder="Width" [(ngModel)]="cameraConfig.width"
                                    [disabled]="(updating | async)">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="example-full-width mt-3 mb-3">
                                <input matInput placeholder="Height" [(ngModel)]="cameraConfig.height"
                                    [disabled]="(updating | async)">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="row">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="X" [(ngModel)]="cameraConfig.roiX"
                                    [(ngModel)]="cameraConfig.roiX" [disabled]="(updating | async)">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Y" [(ngModel)]="cameraConfig.roiY"
                                    [(ngModel)]="cameraConfig.roiY" [disabled]="(updating | async)">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Width" [(ngModel)]="cameraConfig.roiW"
                                    [(ngModel)]="cameraConfig.roiW" [disabled]="(updating | async)">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Height" [(ngModel)]="cameraConfig.roiH"
                                    [(ngModel)]="cameraConfig.roiH" [disabled]="(updating | async)">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <button class="m-2 btn btn-success" (click)="saveChanges()" [disabled]="(updating | async)">Save
                    Changes</button>
                    <button class="m-2 btn btn-primary" (click)="resetDefault()" [disabled]="(updating | async)">
                        Reset Settings</button>
                <mat-error *ngIf="error$ | async as error">{{error.message}}</mat-error>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="card w-100">

            <div class="card-body" *ngIf="aquarium">
                <div class="row">
                    <div class="col-sm">
                        <div class="card-title">
                            <h3>Peripherals</h3>
                        </div>
                        <p class="card-text">
                            These are the enabled peripherals/sensors that are currently enabled. Some may be
                            unavailable
                            depending on hardware installed on your device.
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-success">Photo Module</li>
                            <li class="list-group-item">Temperature Sensor</li>
                            <li class="list-group-item list-group-item-success">LED Controller</li>
                            <li class="list-group-item">Ph Sensor</li>
                            <li class="list-group-item">Nitrate/Nitrite Sensor</li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <div class="card-title">
                            <h3>Aquarium Operations</h3>
                        </div>
                        <p class="card-text">
                            Perform operations on your aquarium here. You may remove your aquarium here. These actions
                            may
                            be
                            irreversible.
                        </p>
                        <h6>Aquarium</h6>
                        <button class="m-2 btn btn-secondary" (click)="aquariumExport()">Export Aquarium</button>
                        <button class="m-2 btn btn-danger" (click)="aquariumDelete()"
                            [disabled]="deleting | async">Delete Aquarium</button>
                        <ng-container *ngIf="deleting | async">
                            <fa-icon class="mr-2" [icon]="faSpinner"></fa-icon>
                        </ng-container>
                        <ng-container *ngIf="deleteError | async as error">
                            <mat-error>{{error.message}}</mat-error>
                        </ng-container>
                        <h6>Snapshots</h6>
                        <button class="m-2 btn btn-primary" (click)="snapshotManage()">Manage..</button>
                        <button class="m-2 btn btn-danger" (click)="snapshotDeleteAll()">Delete All</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title">
                    <h3>Application Log</h3>
                </div>
                <label for="exampleFormControlTextarea1">Aquarium Service</label>
                <textarea disabled class="form-control rounded-0" id="exampleFormControlTextarea1"
                    rows="10">{{applicationLog$ | async}}</textarea>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loading>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>