<div class="container  board-page-container" *ngIf="board$ | async as board else unsuccessfull">
    <h3>{{board.title}}</h3>
<div *ngFor="let thread of board.threads">
    <discussion-item [thread]='thread'></discussion-item>
</div>    
    <button (click)="clickNewThread(board)">New Thread...</button>
</div>
<ng-template #unsuccessfull>
    <div class="container">
        <div class="container alert alert-danger mt-2" *ngIf="boardLoadError$ | async as error">{{error}}</div>
        <loading-container *ngIf="boardLoading$ | async"></loading-container>
    </div>
</ng-template>