<div class="container  profile-container" *ngIf="targetProfile$ | async as targetProfile else unsuccessfull">
    <div class="row header">
        <div class="col-2 p-0">

            <profile-picture-thumbnail [profile]="targetProfile"></profile-picture-thumbnail>
        </div>
        <div class="col-10 p-0">

            <profile-banner [profile]="targetProfile"></profile-banner>
            <section-banner [profile]="targetProfile"></section-banner>
        </div>
    </div>
    <div class="p-3">
        <router-outlet></router-outlet>
    </div>
</div>
<ng-template #unsuccessfull>
    <div class="container">
        <div class="container alert alert-danger mt-2" *ngIf="profileLoadError$ | async as error">{{error}}</div>
        <loading-container *ngIf="profileLoading$ | async"></loading-container>
    </div>
</ng-template>