<div class="card">
  <div class="card-body">
    <h5 class="card-title">Schedule Automation</h5>
    <p class="card-text">
      You may create a schedule to deploy to the pi here. You may preform
      automous
      events, timed
      events
      etc.
    </p>
    <div class="row">
      <div class="col">
        <h6>On Device</h6>
        <div class="schedule-list">
          <ng-container *ngIf="device.schedules && device.schedules.length > 0 else noDeployments">
            <div *ngFor="let schedule of device.schedules" (click)="clickUpdateSchedule(schedule)">
              <div class="schedule list-group-item">
                <div class="row">
                  <div class="col">
                    {{schedule.name}}
                    <div class="time">

                    </div>
                  </div>
                  <div class="operations col">
                    <button class="float-right btn btn-primary"
                      (click)="$event.stopPropagation();clickDeleteSchedule(schedule)" [disabled]="managingSchedules">
                      <fa-icon size="1x" [styles]="iconStyle" [icon]="faMinus"></fa-icon> Remove
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noDeployments>
            <p class="p-2">No schedules have been deployed onto this device.</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row p-3">
      <button mat-list-item type="button" class="ml-3 mt-2 btn btn-primary btn-sm" (click)="clickCreateSchedule()">
        <fa-icon class="addIcon mr-2" [icon]="icon_create"></fa-icon>Create Schedule...
      </button>
    </div>
  </div>
</div>