<div class="device-detail-view container">
    <div class="row">
        <div class="col-3">
            <div class="card mb-2 overview">
                <div class="card-body">
                    <div class="card-title">
                        <a class="btn" href="#" role="button" [routerLink]="['device']">
                            <h4>
                                <fa-icon class="mr-2" [icon]="faDevice"></fa-icon>
                                {{aquarium.device.name}}
                            </h4>
                        </a>

                    </div>
                    <table>
                        <tr>
                            <td *ngIf="deviceStatus == 0">
                                <fa-icon class="mr-2" style="color: indianred;" [icon]="faTimesCircle"></fa-icon>Offline
                                <br>
                                <button class="btn btn-secondary" (click)="pingAquariumDevice()">
                                    <fa-icon class="mr-2" [icon]="faRefresh"></fa-icon>Reconnect
                                </button>

                            </td>
                            <td *ngIf="deviceStatus == 1">
                                <fa-icon class="mr-2" [icon]="faSpinner"></fa-icon>Connecting...
                            </td>
                            <td *ngIf="deviceStatus == 2">
                                <fa-icon class="mr-2" style="color: limegreen;" [icon]="faCheck"></fa-icon>Online
                            </td>
                        </tr>
                    </table>
                    <ng-container *ngIf="latestSnapshot">
                        <div class="card-title" *ngIf="latestSnapshot.temperature != undefined ||
                        latestSnapshot.ph != undefined ||
                        latestSnapshot.ammonia != undefined ||
                        latestSnapshot.nitrate != undefined ||
                        latestSnapshot.nitrite != undefined">
                            <h4 class="m-1">Parameters</h4>
                        </div>
                    </ng-container>

                    <table *ngIf="latestSnapshot">
                        <tr *ngIf="latestSnapshot.temperature != undefined">
                            <td>Temperature: </td>
                            <td>{{latestSnapshot.temperature/10}}C</td>
                        </tr>
                        <tr *ngIf="latestSnapshot.ph != undefined">
                            <td>Water PH: </td>
                            <td>{{latestSnapshot.ph}}</td>
                        </tr>
                        <tr *ngIf="latestSnapshot.ammonia != undefined">
                            <td>Ammonia: </td>
                            <td>{{latestSnapshot.ammonia}}</td>
                        </tr>
                        <tr *ngIf="latestSnapshot.nitrate != undefined">
                            <td>Nitrate: </td>
                            <td>{{latestSnapshot.nitrate}}</td>
                        </tr>
                        <tr *ngIf="latestSnapshot.nitrite != undefined">
                            <td>Nitrite: </td>
                            <td>{{latestSnapshot.nitrite}}</td>
                        </tr>
                    </table>
                    <a class="btn" href="#" role="button" [routerLink]="['parameters/snapshots']">
                        <small class="text-muted">Latest Snapshot: {{getSnapshotAge()}}</small>
                    </a>
                    <button class="btn btn-link" (click)="clickAddSnapshot()">Insert Parameters</button>
                </div>
            </div>
        </div>
        <snapshot-carousel></snapshot-carousel>
    </div>
</div>