<div *ngIf="(aquarium$ | async).device as d">
  <ng-container *ngIf="(readableTypes | async) as types">
    <div *ngIf="error" class="alert alert-danger">
      <p class="error">{{error}}</p>
      <button class="btn btn-secondary">
        <fa-icon class="mr-2" [icon]="faRefresh" disabled></fa-icon>Refresh
      </button>
    </div>
    <div class="row">
      <div class="col-sm">
        <div *ngFor="let s of d.sensors" class="card mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <h6>{{s.name}} <small class="text-muted">(<b>Sensor Id</b>: {{s.id}} <b>Gpio Port</b>:
                    {{s.pin}})</small>
                </h6>
                <div>
                  <b>Polarity</b>: {{s.polarity ? "Output":"Input"}}
                </div>
                <div>
                  <b>Type</b>: {{getSensorReadableType(types,s.type)}}
                </div>
                <div *ngIf="s.alwaysOn">
                  <b>Always On</b>
                </div>
              </div>
              <div class="col-sm">
                <button (click)="clickRemoveSensor(s)" class="float-md-right btn btn-danger"
                  [disabled]="disabledIds.indexOf(s.id) != -1">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
                <button (click)="clickEditSensor(s)" class="float-md-right btn btn-secondary mr-2"
                  [disabled]="disabledIds.indexOf(s.id) != -1">
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button (click)="clickTestSensor(s)" class="float-md-right btn btn-secondary mr-2"
                  [disabled]="disabledIds.indexOf(s.id) != -1 || !s.polarity">
                  <fa-icon [icon]="faVial"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md">
        <div class="card">
          <div class="card-body">
            <device-gpio-card [device]="d"></device-gpio-card>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p>This is where upcomming tasks could be</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="mt-2 btn btn-success" (click)="clickAddSensor()">Add</button>
      </div>
    </div>
  </ng-container>
</div>