<table class="w-100" mat-table [dataSource]="schedule.tasks" *ngIf="schedule.tasks && schedule.tasks.length > 0">
  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef> Task </th>
    <td mat-cell *matCellDef="let element"> {{getTaskName(element.taskId)}} </td>
  </ng-container>
  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef> Start Time </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="standard" class="pl-2">
        <input type="time" matInput [(ngModel)]="startTimes[schedule.tasks.indexOf(element)]"
          (ngModelChange)="updateTasks()">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </td>
  </ng-container>
  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef> End Time </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="standard" class="pl-2">
        <input type="time" matInput [(ngModel)]="endTimes[schedule.tasks.indexOf(element)]"
          (ngModelChange)="updateTasks()">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </td>

  </ng-container>
  <ng-container matColumnDef="interval">
    <th mat-header-cell *matHeaderCellDef> Interval </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.interval > 0">
        Repeat every
        <mat-form-field appearance="standard" class="pl-2" style="width:80px">
          <input type="number" matInput [(ngModel)]="element.interval" min=1>
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
        minutes
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-danger" (click)="clickDeleteTask(element)">
        <fa-icon [icon]="icon_delete"></fa-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>