<ul class="list-group">
  <li class="list-group-item" *ngFor="let task of schedule.tasks">
    <div class="row">
      <div class="col-10">
        <b>{{getTaskName(task.taskId)}}</b>
        Start: <input type="time" [(ngModel)]="startTimes[schedule.tasks.indexOf(task)]"
          (ngModelChange)="updateTasks()">
        <mat-checkbox [checked]="task.interval != null" class="p-1" (change)="toggleRepeat(task,$event.checked)">Repeat
        </mat-checkbox>
        <ng-container *ngIf="task.interval != null">
          Every <input type="number" [(ngModel)]="task.interval" min=1> minutes
          End: <input type="time" [(ngModel)]="startTimes[schedule.tasks.indexOf(task)]"
            (ngModelChange)="updateTasks()">
        </ng-container>
      </div>
      <div class="col-2">
        <button class="btn btn-danger" (click)="clickDeleteTask(task)">
          <fa-icon [icon]="icon_delete"></fa-icon>
        </button>
      </div>
    </div>
  </li>
</ul>