<div class="profile-section-banner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/p/" + profile.id]' [routerLinkActiveOptions]='{ exact: true }'
        [routerLinkActive]='["active"]'>Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/p/" + profile.id + "/about"]' [routerLinkActiveOptions]='{ exact: true }'
        [routerLinkActive]='["active"]'>About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]='["/p/" + profile.id + "/aquariums"]' [routerLinkActiveOptions]='{ exact: true }'
          [routerLinkActive]='["active"]'>Aquariums ({{getAquariumCount()}})</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]='["/p/" + profile.id + "/fish"]' [routerLinkActiveOptions]='{ exact: true }'
            [routerLinkActive]='["active"]'>Fish ({{getFishCount()}})</a>
        </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/p/" + profile.id + "/photos"]' [routerLinkActiveOptions]='{ exact: true }'
        [routerLinkActive]='["active"]'>Photos</a>
    </li>
    <li class="nav-item" *ngIf="!profile.relationship">
      <a class="nav-link" [routerLink]='["/p/" + profile.id + "/manage"]'
        [routerLinkActiveOptions]='{ exact: true }' [routerLinkActive]='["active"]'><fa-icon class="pr-1" [icon]="faGear"></fa-icon>Manage</a>
    </li>
  </ul>
</div>