<div class="shadow p-3 mb-5 bg-white rounded">
    <img [src]='species.thumbnail'/>
    <h4 class='text-center'>{{(!exists) ? "Add Species":"Editing Species: " + species.name}}</h4>
    <small class="text-muted">Please enter details about your fish.</small>
    <div class="row m-2">
        <mat-form-field class="m-2 example-full-width">
            <input type="text" placeholder="Species Name" aria-label="Number" matInput [(ngModel)]="species.name">
        </mat-form-field>
    </div>
    <div class="row m-2">
        <mat-form-field class="w-100">
            <textarea matInput [(ngModel)]="species.description"
                placeholder="Fish description, notes, attributes, features, etc..."></textarea>
        </mat-form-field>
    </div>
    <div class="row m-2">
        <mat-form-field class="w-100">
            <textarea matInput [(ngModel)]="species.website" placeholder="Website, url, wiki etc."></textarea>
        </mat-form-field>
    </div>
    <div class="row m-2">
        <ng-container *ngIf="exists else newOne">
            <button type="submit" class="m-2 btn btn-primary" (click)="clickUpdate()">Update Species</button>
            <button [disabled]="(updating$ || deleting$) | async" class="m-2 btn btn-danger"
                (click)="clickDeleteSpecies()">Delete Species</button>
        </ng-container>
        <ng-template #newOne>
            <button type="submit" class="m-2 btn btn-success" (click)="clickNewSpecies()">Add Species</button>

        </ng-template>
    </div>
</div>