<nav>
  <div class="logo">
    <a href="#">
      <img src="images/logo.svg" alt="">
    </a>
  </div>
  <ul>
    <li>
      <a href="#" class="active">Home</a>
    </li>
    <li>
      <a href="#">Testimonials</a>
    </li>
    <li>
      <a href="#">Features</a>
    </li>

    <li>
      <a href="#">Downloads</a>
    </li>
    

    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="#">Login</a>
    </li>
  </ul>
  <div class="mobile-menu active">
    <img src="images/menu-icon.svg" alt="">
  </div>

  <div class="mobile-close">
    <img src="images/close-icon.svg" alt="">
  </div>
</nav>