nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-color);
    text-decoration: none;
}

nav ul li a.active {
    color: var(--pink-color);
}