<div *ngIf="aquarium$ | async as aquarium">
	<div *ngIf="deviceInformation$ | async as deviceInformation">
		<div class="row" *ngIf="deviceInformation.configuredDevice != null ">
			<div class="col-sm-3">
				<device-sensor-list [configuredDevice]="deviceInformation.configuredDevice" hideEdit small></device-sensor-list>
			</div>
			<div class="col-md-9">
				<device-schedule-status [deviceInformation]="deviceInformation"></device-schedule-status>
			</div>
		</div>
		<div class="row">
			<div class="col-md">
				<div class="card mb-4">
					<div class="card-body">
						<device-ato-status-card [aquarium]="aquarium" [device]="d"
							[deviceInformation]="deviceInformation"
							[deviceConnectionStatus]="deviceConnectionStatus$ | async">
						</device-ato-status-card>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="card mb-4">
					<div class="card-body">
						<device-water-change-card [aquarium]="aquarium" [device]="d"
							[deviceInformation]="deviceInformation"
							[deviceConnectionStatus]="deviceConnectionStatus$ | async">
						</device-water-change-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>