<div *ngIf="aquarium$ | async as aquarium else loading">
	<div *ngIf="aquarium.device as d else noDevice"
		class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<div class="row">
			<div class="col-sm-3">
				<div class="card mb-4">
					<div class="card-body">
						<device-overview-card [aquarium]="aquarium"></device-overview-card>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="card mb-4">
					<div class="card-body">
						<device-snapshot-carousel></device-snapshot-carousel>
					</div>
				</div>
			</div>
		</div>

		<div class="card mb-4">
			<div class="card-body" *ngIf="deviceInformation$ | async as info">
				<device-ato-status-card [device]="d" [deviceInformation]="info" [deviceConnectionStatus]="deviceConnectionStatus$ | async">
				</device-ato-status-card>
			</div>
		</div>
	</div>
	<ng-template #noDevice>
		<device-detail-form [aquarium]="aquarium"></device-detail-form>
	</ng-template>
</div>
<ng-template #loading>
	Loading...
</ng-template>