<div class="row bg-theme-secondary">
	<div class="col-lg-8">
		<h1 class="display-4">Device</h1>
		<div class="row p-2">
			<device-overview-card [aquarium]="aquarium$ | async" [deviceInformation]="deviceInformation$ | async" [deviceConnectionStatus]="deviceConnectionStatus$ | async"></device-overview-card>
		</div>
	</div>

    <!-- 
        <div class="col-lg-2 mt-4">
            <date-filter-selector [(range)]="dateRange" (updated)="updateFilteredDate()"></date-filter-selector>
        </div>
    -->
</div>
<!-- Tab Area -->
<div class="row bg-theme-secondary mb-2">
	<ul class="nav nav-tabs w-100">
		<li class="nav-item">
			<a class="nav-link" aria-current="page" [routerLink]="['overview']" [routerLinkActive]='["active"]' >Overview</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['sensors']" [routerLinkActive]='["active"]' >Sensors</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['schedule']" [routerLinkActive]='["active"]' >Schedule</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" [routerLink]="['snapshots']" [routerLinkActive]='["active"]'>Snapshots</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['settings']" [routerLinkActive]='["active"]'>Settings</a>
		</li>
	</ul>
</div>
<router-outlet></router-outlet>