<div class="card m-2">

  <div class="card-body">
    <div class="card-title">
      <h3>Device Information</h3>
    </div>
    <p class="text-muted">
      This is the information contained on the pi itself. In the event the pi loses connection, the schedules may
      become out
      of sync. You may see exactly what is deployed to the pi here. You may also view the queue of tasks available.
    </p>
    <ng-container *ngIf="aquarium.device as device">
      <div *ngIf="deviceInformation">
        <div class="row">
          <div class="col-sm">
            Aquarium:
          </div>
          <div class="col-sm">
            {{deviceInformation.aquarium ? deviceInformation.aquarium.name:"None"}}
          </div>
        </div>
        <h5>Schedules on Device</h5>
        <table class="w-100">
          <th>
            Schedule Name
          </th>
          <th>
            Service Host
          </th>
          <tr *ngFor="let schedule of deviceInformation.schedules">
            <td>{{schedule.name}}</td>
            <td>{{schedule.host}}</td>
          </tr>
        </table>
        <hr>
        <h5>Queue</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <h5>Configuration</h5>
        <div class="row">
          <code>{{deviceInformation.config}}</code>
        </div>
      </div>
      <div class="text-center m-0 d-flex flex-column justify-content-center">
        <div>
          <button class="btn btn-primary" (click)="clickGetDeviceInformation()">Retrieve Information</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>