<div class="photo-expanded-modal">

  <div class="banner top">
    <button mat-button [mat-dialog-close] style="font-weight:bold;font-size:20pt;">×</button>
  </div>
  <ng-container *ngIf="photo">

    <ng-container *ngIf="photo">
      
      <img [src]="getPhotoPermalink()" #photo (load)="imageReady($event)">
    </ng-container>
    <div class="banner bottom">
      <button class="m-2 mb-3 btn btn-link text-white" (click)="clickMoreInfo()">More Info</button>
      <button class="m-2 mb-3 btn btn-link text-white" (click)="clickApplyPhoto()">Set As...</button>
      <button class="m-2 mb-3 btn btn-link text-white" (click)="clickDelete()">
        <fa-icon class="pr-1" [icon]="faTrash"></fa-icon>Delete
      </button>
    </div>
  </ng-container>
  <loading-container *ngIf="!photo">
  </loading-container>
</div>