
div.nofeeding {
    margin:5px;
    text-align: center;
    width:100%;
    min-height:130px;
    margin:2px;
    padding:5px;
    border-radius:2px;
}
.fishPhoto
{
    cursor: pointer;
    user-select: none;
    width:200px;
    margin-right:5px;
}