<ng-container *ngIf="ready">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Aquarium Monitor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#community">Join</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="py-5 bg-image-full main-section">
    <div class="float-left text-white p-5 ">
      <h1>
        <img class="img-fluid" src="http://placehold.it/200x200&text=Logo" alt="">
        Aquarium Monitor</h1>
      <p class="lead">Monitor, track, forcast your aquarium. With access you will be able to start minimizing your
        aquarium maintence.</p>
    </div>
    <div class="row m-0 pr-5 pt-5">
      <login-component class="ml-auto"></login-component>
    </div>
  </header>

  <!-- Content section -->
  <section class="py-5 description-section" id="about">
    <div class="container">
      <h1>Take Control</h1>
      <p class="lead">Monitor, track, forcast your aquarium. With access you will be able to start minimizing your
        aquarium maintence.</p>
      <p>We support RaspberryPis! You may additionally connect a pi to monitor your aquarium. You will then be able to
        take photos, track temperature and more!</p>
      <img class="shadow  img-fluid d-block mx-auto" src="assets/home1.png" alt="">
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5 community-section text-white" id="community">
    <div class="container">
      <h1>Join the Community</h1>
      <p class="lead">Dial into your aquariums and take control of your passion.</p>
      <p>With an account, you may access our forums and engage with our community. Share content about your aquariums
        and fish or seek some advice. Our community was built upon help and we are dedicated to helping you manage
        your aquarium.</p>
      <signup-component></signup-component>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Aquarium Solutions Group 2019</p>
    </div>
    <!-- /.container -->
  </footer>
</ng-container>