<h3 class="pt-5 header">
  Auto Top Off
  <small *ngIf="!loading && atoStatus && atoStatus.enabled">
    <fa-icon [icon]="faCheck" class="mr-1"></fa-icon>Enabled
  </small>
  <small *ngIf="!loading && atoStatus && !atoStatus.enabled" class="disabled">
    <fa-icon [icon]="faTimes" class="mr-1"></fa-icon>Disabled
  </small>
  <small *ngIf="loading">
    <fa-icon [icon]="faSpinner" class="mr-1"></fa-icon>Loading
  </small>
</h3>
<p class="text-muted content">View the current auto top off status. You can trigger an auto top off here.</p>






<ng-container *ngIf="atoStatus else noStatus">
  <ng-container *ngIf="atoStatus.enabled == true">
    <ng-container *ngIf="atoStatus.pumpRunning else standard">
      <div class="card">
        <div class="card-header">
          <h5>Running...</h5>
          <p class="text-muted">Auto top off is currently running</p>
        </div>
        <div class="card-body">

          <div class="row">
            <ul class="list-group w-50">
              <li class="list-group-item">
                Id: {{atoStatus.id}}
              </li>
              <li class="list-group-item">
                Start Time: {{parseDate(atoStatus.startTime)}}
              </li>
              <li class="list-group-item">
                Estimated End Time: {{parseDate(atoStatus.estimatedEndTime)}}
              </li>
              <li class="list-group-item">
                ATO Pump: Running
              </li>
              <li class="list-group-item">
                Water Level: {{atoStatus.sensorValue}}
              </li>
            </ul>
          </div>
          <div class="row m-3">
            <mat-progress-bar [value]="currentATOProgress"></mat-progress-bar>
          </div>
          <div class="row">
            <button class="mt-2 btn btn-danger" (click)="clickStopATO()">Stop</button>
          </div>
          <div class="row">
            <ng-container *ngTemplateOutlet="timestamp"></ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #standard>
    <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="atoStatus.nextRunTime else checkATO">
      <p>ATO is currently scheduled to run next at: {{parseDate(atoStatus.nextRunTime)}}</p>
    </div>
    <ng-template #checkATO>
      <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="atoStatus.floatSensorValue == 1">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>
    
          We've detected that your water level is low! In order to maintain stable aquarium parameters we recommend
          topping
          off your aquarium with more water.
        </p>
        <hr>
        <button class="btn btn-success" (click)="clickRunATO()">Run ATO</button>
      </div>
    </ng-template>
    <p>Sensor Value: {{atoStatus.floatSensorValue}}</p>
    <p>Pump: {{atoStatus.floatSensor.name}}</p>
    <p>Float Sensor: {{atoStatus.pumpRelaySensor.name}}</p>
  </ng-template>
</ng-container>

<!-- Update Timestamp -->
<div *ngIf="atoStatus">
  <div class="text-muted">Last Updated at {{parseDate(atoStatus.updatedAt)}}
    <button class="btn btn-link" (click)="clickRefresh()">
      <fa-icon [icon]="faRedo"></fa-icon>
    </button>
  </div>
</div>

<p>
  <button class="btn btn-success" (click)="clickRunATO()">Run ATO</button>
</p>


<!-- History -->
<div class="row" *ngIf="atoHistory">
  <div class="col-md-8">
    <div class="card p-3 w-100">
      <h4>History</h4>
      <table class="atoHistory">
        <thead>
          <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>End Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ato of atoHistory">
            <td>{{parseDateHistory(ato.startTime)}}</td>
            <td>
              {{parseDateHistory(ato.actualEndTime,true)}}
              <small class="text-muted">
                ({{computeTimeDifference(ato)}}s)
              </small>
            </td>
            <td>{{ato.endReason}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>






<ng-template #noStatus>
  <p>No auto top off status available for this device.</p>
</ng-template>


<ng-template #notEnabled>
  <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="atoRecommended">
    <p>ATO is not enabled on this device. You must have two sensors equiped (ATO float sensor & Pump relay sensor).</p>
  </div>
</ng-template>

