<div class="row header">
  <div class="col-md-8">
    <h3>
      Auto Top Off
      <small *ngIf="!loading && atoStatus && atoStatus.enabled">
        <fa-icon [icon]="faCheck" class="mr-1"></fa-icon>Enabled
      </small>
      <small *ngIf="!loading && atoStatus && !atoStatus.enabled" class="disabled">
        <fa-icon [icon]="faTimes" class="mr-1"></fa-icon>Disabled
      </small>
      <small *ngIf="loading">
        <fa-icon [icon]="faSpinner" class="mr-1"></fa-icon>Loading
      </small>
    </h3>
    <p class="text-muted">View the current auto top off status. You can trigger an auto top off here.</p>
    <hr>
  </div>
</div>



<ng-container *ngIf="atoStatus else noStatus">
  <ng-container *ngIf="atoStatus.enabled == true">
    <ng-container *ngIf="atoStatus.pumpRunning else standard">
      <div class="card">
        <div class="card-header">
          <h5>Running...</h5>
          <p class="text-muted">Auto top off is currently running</p>
        </div>
        <div class="card-body">

          <div class="row">
            <ul class="list-group w-50">
              <li class="list-group-item">
                Id: {{atoStatus.id}}
              </li>
              <li class="list-group-item">
                Start Time: {{parseDateFromUtc(atoStatus.startTime)}}
              </li>
              <li class="list-group-item">
                Estimated End Time: {{parseDateFromUtc(atoStatus.estimatedEndTime)}}
              </li>
              <li class="list-group-item">
                ATO Pump: Running
              </li>
              <li class="list-group-item">
                Water Level: {{atoStatus.floatSensorValue ? "Low":"High"}}
              </li>
            </ul>
          </div>
          <div class="row m-3">
            <mat-progress-bar [value]="currentATOProgress"></mat-progress-bar>
          </div>
          <div class="row">
            <button class="mt-2 btn btn-danger" (click)="clickStopATO()">Stop</button>
          </div>
          <div class="row">
            <ng-container *ngTemplateOutlet="timestamp"></ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Not currently running -->
    <ng-template #standard>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-8">
              <div class="alert alert-info alert-dismissible fade show" role="alert"
                *ngIf="atoStatus.nextRunTime else checkATO">
                <p>Auto top off is scheduled to run <b>{{parseDate(atoStatus.nextRunTime)}} <small>({{parseDuration(atoStatus.nextRunTime)}})</small></b>. If the float sensor is reading a low water level, the pump will turn on and begin the ATO process.</p>
              </div>
              <ng-template #checkATO>
                <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="isRunnable(atoStatus)">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <p>

                    We've detected that your water level is low! In order to maintain stable aquarium parameters we
                    recommend
                    topping
                    off your aquarium with more water.
                  </p>
                  <hr>
                  <button class="btn btn-success" (click)="clickRunATO()">Run...</button>
                </div>
              </ng-template>
              <p>
                <button [disabled]="!isRunnable(atoStatus)" class="btn btn-success" (click)="clickRunATO()">Run...</button>
              </p>
            </div>
            <div class="col-sm-4 ml-auto">
              <h6 class="text-muted">Pump Relay</h6>
              <device-sensor-card [sensor]="atoStatus.pumpRelaySensor"></device-sensor-card>
              <h6 class="text-muted mt-1">Float Sensor</h6>
              <device-sensor-card [sensor]="atoStatus.floatSensor"></device-sensor-card>
            </div>
          </div>
        </div>
      </div>

    </ng-template>

  </ng-container>

</ng-container>



<!-- History -->
<div class="row" *ngIf="atoHistory && atoHistory.length">
  <div class="col-lg-8">
    <div class="p-2">
      <h5>History</h5>
      <table class="atoHistory table-sm w-100">
        <thead>
          <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>End Reason</th>
            <th>Run Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ato of atoHistory" [class.running]="!ato.completed">
            <td>{{parseDateFromUtc(ato.startTime)}}</td>
            <td>
              <ng-container *ngIf="ato.actualEndTime else invalid">
                {{parseDateFromUtc(ato.actualEndTime,true)}}
                <small class="text-muted">
                  ({{computeTimeDifference(ato)}}s)
                </small>
              </ng-container>


            </td>
            <td>{{ato.endReason}}
            </td>
            <td class="text-muted" *ngIf="ato.actualEndTime else invalid">
              {{getRunTime(ato)}}
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-link">See More...</button>
      </div>
    </div>
  </div>
</div>

<!-- Update Timestamp -->
<div class="row" *ngIf="atoStatus">
  <div class="col">
    <span class="text-muted">Last Updated at {{parseDate(atoStatus.updatedAt)}}
      <button class="btn btn-link" (click)="clickRefresh()">
        <fa-icon [icon]="faRedo"></fa-icon>
      </button>
    </span>
  </div>
</div>

<ng-template #invalid>
  <span class="text-muted">--:--</span>
</ng-template>




<ng-template #noStatus>
  <p>No auto top off status available for this device.</p>
</ng-template>


<ng-template #notEnabled>
  <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="atoRecommended">
    <p>ATO is not enabled on this device. You must have two sensors equiped (ATO float sensor & Pump relay sensor).</p>
  </div>
</ng-template>