<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="mt-5 card p-3">
                <h4 class='text-center'>Add Fish</h4>
                <small class="text-muted">Please enter details about your fish.</small>
                <div class="row m-2">
                    <mat-form-field class="m-2 example-full-width">
                        <input type="text" placeholder="Fish Name" aria-label="Number" matInput
                            [(ngModel)]="newFish.name">
                    </mat-form-field>
                    <species-select class="ml-2" (onChange)="selectSpecies($event)"></species-select>
                </div>
                <div class="row m-2">
                    <aquarium-select class="ml-2" (onChange)="selectAquarium($event)" [value]="aquarium"></aquarium-select>
                    <mat-form-field class="m-3">
                        <input matInput [matDatepicker]="picker1" placeholder="Start Date"
                            [(ngModel)]="newFish.date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row m-2">
                    <mat-form-field class="w-100">
                        <textarea matInput [(ngModel)]="newFish.description"
                            placeholder="Fish description, notes, attributes, features, etc..."></textarea>
                    </mat-form-field>
                </div>
                <div class="row m-2">

                </div>
                <div class="row m-2">
                    <button type="submit" class="btn btn-success" (click)="clickCreateFish()">Add to Aquarium</button>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <h4 class='mt-5'>Feeding History</h4>
            <feed-table class="m-3"></feed-table>
        </div>
    </div>
</div>