<h4 class='text-center'>{{(fish.id) ? fish.name:"Create New Fish"}}</h4>
<small class="text-muted">Please enter details about your fish.</small>
<div class="row m-2">
    <mat-form-field class="m-2 example-full-width">
        <input type="text" placeholder="Fish Name" aria-label="Number" matInput [(ngModel)]="fish.name">
    </mat-form-field>
    <species-select class="ml-2" [fish]="fish"></species-select>
</div>
<div class="row m-2">
    <mat-form-field class="m-3">
        <input matInput [matDatepicker]="picker1" placeholder="Start Date" [(ngModel)]="fish.date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
</div>
<div class="row m-2">
    <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="fish.gender">
            <mat-option value=1>
                Male
            </mat-option>
            <mat-option value=2>
                Female
            </mat-option>
            <mat-option value=0>
                Unknown
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="row m-2">
    <mat-form-field class="w-100">
        <textarea matInput [(ngModel)]="fish.description"
            placeholder="Fish description, notes, attributes, features, etc..."></textarea>
    </mat-form-field>
</div>

<div class="row m-2">
    <ng-container *ngIf="fish.id else newOne">
        <button type="submit" [disabled]="disabled" class="m-2 btn btn-primary" (click)="clickUpdate()">Update Fish</button>
        <button [disabled]="disabled" class="m-2 btn btn-danger"
            (click)="clickDeleteSpecies()">Delete Fish</button>
    </ng-container>
    <ng-template #newOne>
        <button type="submit" [disabled]="disabled" class="m-2 btn btn-success" (click)="clickNew()">Add Fish</button>

    </ng-template>

</div>