.profile-picture-thumbnail
{
    border:1px solid rgba(100,120,95,0.6);
    height:240px;
    width:200px;
    background-color:white;
    background-position: center center;
    background-size: cover
}