<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'><img height="30px" class="mr-2" src="http://downloadicons.net/sites/default/files/fish-in--fish-tank-icon-23812.png"/>Dashboard</a>

      <button *ngIf="aquarium$ | async as aquarium" class="btn nav-link"
        (click)="openAquariumSelection()">{{aquarium.name}}</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Aquarium Navigation -->
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <ng-container *ngIf="aquarium$ | async as aquarium">
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/" + aquarium.id]'
                [routerLinkActiveOptions]='{ exact: true }' [routerLinkActive]='["link-active"]'><fa-icon [icon]="faDashboard" class="mr-1"></fa-icon>Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/" + aquarium.id + "/parameters"]'
                [routerLinkActiveOptions]='{ exact: true }' [routerLinkActive]='["link-active"]'><fa-icon [icon]="faParameters" class="mr-1"></fa-icon>Parameters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/" + aquarium.id + "/fish"]'
                [routerLinkActive]='["link-active"]'><fa-icon [icon]="faFish" class="mr-1"></fa-icon>Fish</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/" + aquarium.id + "/photos"]'
                [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]="{exact: false}"><fa-icon [icon]="faPhotos" class="mr-1"></fa-icon>Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/" + aquarium.id + "/maintenance"]'
                [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]="{exact: false}"><fa-icon [icon]="faMaintenance" class="mr-1"></fa-icon>Maintenance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/" + aquarium.id + "/settings"]'
                [routerLinkActive]='["link-active"]'><fa-icon [icon]="faSliders" class="mr-1"></fa-icon>Settings</a>
            </li>
          </ng-container>

          <li class="nav-item" *ngIf="user">
            <a class="nav-link" routerLink="/" (click)="clickLogout()">{{user.username}} <fa-icon [icon]="faLogout"></fa-icon></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>