.bugarea
{
  position: fixed;
  bottom:5px;
  right:5px;
}
.navbar
{
  z-index: 100;
  
  a.nav-link {
    color:#343a40;
  }
  a.nav-link:hover {
    color:skyblue;
  }

  .dropdown-menu {
    z-index: 50;
  }
}
.main-header {
  margin-bottom:60px;
  
}