.visual-aquarium {
    border:2px solid black;
    border-top:0px;
    width:150px;
    height:70px;
    position: relative;

    .water {
        position: absolute;
        bottom:0px;
        left:0px;
        right:0px;
        width:100%;
        height:40%;
        background: lightblue;
        opacity: 0.8;

        .added {
            position: absolute;
            bottom:100%;
            left:0px;
            right:0px;
            width:100%;

        opacity: 0.8;
        background-color:limegreen;
        }
        .removed {
            position: absolute;
            top:0px;
            left:0px;
            right:0px;
            width:100%;
            
        opacity: 0.8;
        background-color:darkred;
        }
    }
}