<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <h2 class="m-3">{{species.name}}</h2>
    </div>
    <div class="row">
        <small class="text-muted p-3">{{species.description}}</small>
    </div>
    <div class="row">
        <div class="col-4">
            <img [src]='species.thumbnail' />
        </div>
        <div class="col-6 m-2">
            <h4>Information</h4>
            <ul class="list-group">
                <li class="list-group-item">Care Level: {{species.careLevel}}</li>
                <li class="list-group-item">Base Price: ${{species.price}}</li>
                <li class="list-group-item">pH Range: {{species.phMin}}-{{species.phMax}}</li>
                <li class="list-group-item">Temperature Range: {{species.temperatureMin}}-{{species.temperatureMax}}F
                </li>
                <li class="list-group-item">Max Size: {{species.maxSize}}</li>
                <li class="list-group-item">Base Price: {{species.price}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <small class="p-3">Resource: <a target="blank" [href]="species.website">{{species.website}}</a></small>
    </div>
</div>