<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active">Water Tests</a>
	</li>
	<li class="nav-item">
		<a class="nav-link">Snapshot List</a>
	</li>
	<li class="nav-item">
		<a class="nav-link disabled" href="#">Quality</a>
	</li>
</ul>
<snapshot-table-list [aquariumId]="aquarium.id" (rowSelected)="selectSnapshot($event)" (rowClicked)="clickSnapshotRow($event[1])"></snapshot-table-list>
<button class="btn btn-success mt-2" (click)="clickAddSnapshot()">Insert Parameters</button>
