<h1>Water</h1>
<p>The water in your aquarium is very important. </p>
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<div class="card-title">

					<h3>Perform Water Change</h3>
				</div>
				<water-change [aquarium]="aquarium"></water-change>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-body">
				<div class="card-title">
					<h3>Insert Dosing</h3>
				</div>
				<water-dose [aquarium]="aquarium"></water-dose>
			</div>
		</div>
	</div>
</div>
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['water']" [routerLinkActive]='["active"]'>Water Changes</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['snapshots']" [routerLinkActive]='["active"]'>Parameters</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['snapshots']" [routerLinkActive]='["active"]'>Dosing</a>
	</li>
</ul>
<router-outlet></router-outlet>