<div class="manage-aquarium-device-modal-component" *ngIf="fish">
  <h1 mat-dialog-title>Add Fish<div class="float-md-right">
      <button mat-button [mat-dialog-close] style="font-weight:bold;font-size:20pt;">×</button>
    </div>
  </h1>
  <div mat-dialog-content>
    <mat-form-field class="m-2">
      <input [disabled]='updating$ | async' type="text" placeholder="Fish Name" matInput [(ngModel)]="fish.name">
    </mat-form-field>
    <species-select class="m-2" [fish]="fish"></species-select>
    <div class="row m-2">
      <!-- 
      <mat-form-field class="m-2">
        <input aria-label="Date" matInput [(ngModel)]="fish.date" [owlDateTimeTrigger]="dtPicker1"
          [owlDateTime]="dtPicker1">
        <owl-date-time #dtPicker1></owl-date-time>
      </mat-form-field>
-->
    </div>
    <div class="row m-2">
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="fish.gender" [(value)]="fish.gender">
          <mat-option>
            Unknown
          </mat-option>
          <mat-option value=1>
            Male
          </mat-option>
          <mat-option value=2>
            Female
          </mat-option>

        </mat-select>
      </mat-form-field>
    </div>
    <div class="row m-2">
      <mat-form-field class="w-100">
        <textarea matInput [(ngModel)]="fish.description" rows="5"
          placeholder="Notes.."></textarea>
      </mat-form-field>
    </div>
    <div class="row m-2" *ngIf="error">
      <mat-error>{{error}}</mat-error>
    </div>
  </div>



  <div mat-dialog-actions align="end">
    <button [disabled]='addingFish$ | async' class="m-2 btn btn-danger" [mat-dialog-close]>Cancel</button>
    <button [disabled]='(addingFish$ | async)' (click)="clickAdd()" class="m-2 btn btn-success">Add Fish</button>
  </div>
</div>