<div class="aquarium-preview-scroller-component" tabindex="0" (keydown.arrowup)="handleKey($event)"
    (keydown.arrowdown)="handleKey($event)">
    <ng-container *ngIf="!(loading$ | async) else loading">
        <ng-container *ngIf="connectionError$ | async as error else noError">
            <mat-error>{{error.message}}</mat-error>
        </ng-container>
        <ng-template #noError>
            <ng-container *ngIf="data$ | async as data">
                <div class="currentImage">
                    <ng-container *ngIf="photoSnapshots[selectedId] as current else notSelected">
                        <img src={{getSnapshotSrc(current)}} />
                        <div class="banner">
                            {{readableDate(current.date)}}
                            {{current.temperature}}F
                            PH: {{current.ph}}
                            Nitrite: {{current.nitrite}}
                            Nitrate: {{current.nitrate}}
                        </div>
                    </ng-container>
                    <ng-template #notSelected>
                        <h3 class="m-5" *ngIf="photoSnapshots.length == 0">No Photos Available</h3>
                    </ng-template>

                </div>
                <div class="scroll-area" #scroller>
                    <ng-container *ngFor="let snapshot of photoSnapshots;let i = index">
                        <div [style.background-image]="'url(' + getSnapshotSrc(snapshot) + ')'"
                            [ngClass]="{'selected': selectedId === i }" class="content" (click)="setSelectedId(i)">
                            {{snapshot.id}}
                        </div>
                    </ng-container>
                </div>
                <div class="row">
                    <button class="m-2 btn btn-primary" (click)="takeSnapshot()" [disabled]="taking$ | async">Take
                        Snapshot</button>
                    <mat-error *ngIf="takeError$ | async as error">{{error.message}}</mat-error>
                    <ng-container *ngIf="photoSnapshots[selectedId] as current">
                        <button class="m-2 btn btn-danger" (click)="deleteSnapshot(current)"
                            [disabled]="deleting$ | async">Delete
                            Snapshot</button>
                        <mat-error *ngIf="deleteError$ | async as error">{{error.message}}</mat-error>
                    </ng-container>
                    <span>Total snapshots: {{data.length}}</span>
                </div>
                <div style="clear:both;"></div>
            </ng-container>
        </ng-template>
    </ng-container>
    <ng-template #loading>
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </ng-template>
</div>