<div class="container">
  <mat-tab-group class="m-t-30" #tabber (selectedTabChange)="updateTabRoute();" style="overflow-y: none;">
    <mat-tab label="{{tab.label}}" *ngFor="let tab of tabs" [ngSwitch]="tab.tabId" >
      <water-change-list *ngSwitchCase="'water'"></water-change-list>
      <dosing-list *ngSwitchCase="'dosing'"></dosing-list>
      <equipment-list *ngSwitchCase="'equipment'"></equipment-list>
      <task-list *ngSwitchDefault></task-list>
    </mat-tab>
  </mat-tab-group>
</div>