<h3 class="pt-5">Schedules</h3>
<p class="text-muted">You may create a schedule to deploy to the pi here. You may preform automous events, timed
  events
  etc.</p>


<div class="row">
  <div class="col-sm">
    <h6>On Device</h6>
    <div class="schedule-list">
      <ng-container *ngIf="device.scheduleAssignments.length > 0 else noDeployments">
        <div *ngFor="let scheduleAssignment of device.scheduleAssignments">
          <div class="schedule list-group-item">
            <div class="row">

              <div class="col">
                {{scheduleAssignment.schedule.name}}
                <div class="time">
                  {{getEarliestTask(scheduleAssignment.schedule)}} - {{getLatestTask(scheduleAssignment.schedule)}}</div>
              </div>
              <div class="operations col">
                <button class="float-right bg-transparent border-0"
                  (click)="clickUpdateSchedule(scheduleAssignment.schedule)">
                  <fa-icon size="1x" [styles]="iconStyle" [icon]="icon_edit"></fa-icon>
                </button>
                <button class="float-right bg-transparent border-0"
                  (click)="clickRemoveSchedule(scheduleAssignment.schedule)" [disabled]="managingSchedules">
                  <fa-icon size="1x" [styles]="iconStyle" [icon]="icon_delete"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noDeployments>
        <p class="p-2">No schedules have been deployed onto this device.</p>
      </ng-template>
    </div>
  </div>
  <div class="col-sm">
    <device-schedule-status [device]="device"></device-schedule-status>
  </div>
</div>
<div class="row p-3">
  <button mat-list-item type="button" class="mt-2 btn btn-primary btn-sm" (click)="clickAddSchedule()">
    <fa-icon class="icon_add mr-2" [icon]="icon_create"></fa-icon>Add Schedule
  </button>
  <button mat-list-item type="button" class="ml-3 mt-2 btn btn-primary btn-sm" (click)="clickCreateSchedule()">
    <fa-icon class="addIcon mr-2" [icon]="icon_create"></fa-icon>Create Schedule...
  </button>
</div>