<div class="shadow p-3 mb-5 bg-white rounded" *ngIf="exists || adding else loading">
    <h2 *ngIf="!editing">{{species.name}}
        <button class="btn btn-secondary edit float-right" (click)="clickEdit()">
            <fa-icon class="pr-1" [icon]="faEdit"></fa-icon>Edit Page
        </button>
    </h2>
    <div class="row p-4" *ngIf="editing">
        <mat-form-field class="m-2 example-full-width">
            <input [disabled]='updating$ | async' type="text" placeholder="Species Name" matInput
                [(ngModel)]="species.name">
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col-4">
            <img *ngIf="species.thumbnail" [src]='species.thumbnail' />
        </div>
        <div class="col-6 m-2">
            <h4>Information</h4>
            <ng-container *ngIf="editing">
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="Care Level" aria-label="Number"
                        matInput [(ngModel)]="species.careLevel">
                </mat-form-field>
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="Price ($)" aria-label="Number"
                        matInput [(ngModel)]="species.price">
                </mat-form-field>
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="ph Min" aria-label="Number" matInput
                        [(ngModel)]="species.phMin">
                </mat-form-field>
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="ph Max" aria-label="Number" matInput
                        [(ngModel)]="species.phMax">
                </mat-form-field>
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="Temp. Min (F)" aria-label="Number"
                        matInput [(ngModel)]="species.temperatureMin">
                </mat-form-field>
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="Temp. Max (F)" aria-label="Number"
                        matInput [(ngModel)]="species.temperatureMax">
                </mat-form-field>
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="Primary Color" aria-label="Number"
                        matInput [(ngModel)]="species.primaryColor">
                </mat-form-field>
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="Secondary Color" aria-label="Number"
                        matInput [(ngModel)]="species.secondaryColor">
                </mat-form-field>
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="Max Size" aria-label="Number"
                        matInput [(ngModel)]="species.maxSize">
                </mat-form-field>
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="Minimum Gallons" aria-label="Number"
                        matInput [(ngModel)]="species.minimumGallons">
                </mat-form-field>
                <mat-form-field class="m-2 example-full-width">
                    <input [disabled]='updating$ | async' type="text" placeholder="Lifespan (Days)" aria-label="Number"
                        matInput [(ngModel)]="species.lifespan">
                </mat-form-field>
            </ng-container>
            <ul class="list-group" *ngIf="!editing">
                <li class="list-group-item">Care Level: {{species.careLevel}}</li>
                <li class="list-group-item">Base Price: ${{species.price}}</li>
                <li class="list-group-item">pH Range: {{species.phMin}}-{{species.phMax}}</li>
                <li class="list-group-item">Temperature Range:
                    {{species.temperatureMin}}-{{species.temperatureMax}}F
                </li>
                <li class="list-group-item">Max Size: {{species.maxSize}} inches</li>
                <li class="list-group-item">Minimum Gallons: {{species.minimumGallons}}</li>
                <li class="list-group-item">Lifespan: {{species.lifespan}}</li>
                <li class="list-group-item">Colors: {{species.primaryColor}}, {{species.secondaryColor}}</li>
            </ul>
        </div>
    </div>
    <div class="row p-3" *ngIf="!editing">
        <h4>Description</h4>
        <small class="text-muted p-3">{{species.description}}</small>
    </div>
    <div class="row" *ngIf="!editing">
        <small class="p-3">Resource: <a target="blank" [href]="species.website">{{species.website}}</a></small>
    </div>


    <div class="row" *ngIf="editing">
        <div class="col">
            <mat-form-field class="m-2 w-50">
                <input [disabled]='updating$ | async' type="text" placeholder="Resource" aria-label="Number" matInput
                    [(ngModel)]="species.website">
            </mat-form-field>
            <button [disabled]='updating$ | async' class="m-2 btn btn-info" (click)="clickScrape()">Scrape from
                Resource...</button>
        </div>

    </div>
    <div class="row justify-content-end p-4" *ngIf="editing">
        <mat-form-field class="w-100">
            <textarea [disabled]='updating$ | async' matInput [(ngModel)]="species.description" matTextareaAutosize
                matAutosizeMinRows=5 matAutosizeMaxRows=10
                placeholder="Fish description, notes, attributes, features, etc..."></textarea>
        </mat-form-field>
        <button *ngIf="!adding" [disabled]='updating$ | async' (click)="clickDelete()" class="m-2 btn btn-danger">
            <fa-icon class="pr-1" [icon]="faTrash"></fa-icon>Delete
        </button>
        <button *ngIf="!adding" [disabled]='updating$ | async' (click)="clickReset()"
            class="m-2 btn btn-info">Reset</button>
        <button *ngIf="!adding" [disabled]='updating$ | async' (click)="clickCancel()"
            class="m-2 btn btn-danger">Cancel</button>
        <button [disabled]='(updating$ | async) || (adding$ | async)' (click)="adding ? clickAdd():clickSave()"
            class="m-2 btn btn-success">Save Changes</button>
    </div>
    <ng-container *ngIf="exists">
        <h2>Photos</h2>
        <h2>Currently Alive Fish</h2>
        <h2>Feeding History</h2>
    </ng-container>
</div>
<ng-template #loading>
    <div class="shadow p-3 mb-5 bg-white rounded d-flex flex-row text-center">
        <table style="width:100%;height:100%;">
            <tr>
                <td>
                    <mat-progress-spinner class="mr-auto ml-auto align-middle" color="warn" mode="indeterminate">
                    </mat-progress-spinner>

                </td>
            </tr>
        </table>
    </div>
</ng-template>