<div class="bugreport-modal-component">
  <h1 mat-dialog-title>Report Bug</h1>
  <p>
    Thank you for your time to submit feedback and we are sorry for any issues you have experienced. Our team of
    developers will take every inch of feedback into consideration.
  </p>
  <form>
    <mat-form-field>
      <mat-select [disabled]='disabled' placeholder="Error Type" class="mb-2" [(ngModel)]="bug.type" name="type">
        <mat-option value="UI Error">
          UI Error
        </mat-option>
        <mat-option value="Connection Error">
          Connection Error
        </mat-option>
        <mat-option value="Account Error">
          Account Error
        </mat-option>
        <mat-option value="Text/Spelling Error">
          Text/Spelling Error
        </mat-option>
        <mat-option value="Other">
          Other
        </mat-option>
      </mat-select>
    </mat-form-field>

    <textarea [disabled]='disabled' name="body" [(ngModel)]="bug.body" placeholder="Tell us what happened..." rows=10 class="w-100"></textarea>
  </form>
  <div class="row">
    <mat-error>{{error}}</mat-error>
  </div>
  <mat-dialog-actions align="end">
    <button [disabled]='disabled' class="m-2 btn btn-danger" mat-dialog-close>Cancel</button>
    <button [disabled]='disabled' class="m-2 btn btn-success" (click)="clickSubmit()">Submit</button>
  </mat-dialog-actions>
</div>