<ng-container *ngIf="aquarium$ | async as aquarium else loading">
    <div class="row m-2">
        <div class="card w-100">

            <div class="card-body">
                <div class="card-title">
                    <h3>Basic Information</h3>
                </div>
                <p class="card-text text-muted">
                    You may alter basic information about your aquarium here. The size of your tank should be measured
                    in gallons and will help provide insights regarding water changes and adequte living environments.
                    Tank type should reflect the style of your tank (Normal, tall, short, etc.).
                </p>
                <div>
                    <mat-form-field class="example-full-width m-3">
                        <input matInput placeholder="Name" [value]="aquarium.name" [(ngModel)]="aquariumName"
                            [disabled]="(updating | async)">
                    </mat-form-field>
                    <mat-form-field class="m-3">
                        <input matInput [matDatepicker]="picker1" placeholder="Start Date" [formControl]="date"
                            [value]="aquarium.startDate" [disabled]="(updating | async)">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="example-full-width m-3">
                        <input type="number" matInput placeholder="Size (Gallons)" [value]="aquarium.gallons"
                            [(ngModel)]="aquariumSize" [disabled]="(updating | async)">
                    </mat-form-field>
                    <mat-form-field class="example-full-width m-3">
                        <input type="text" matInput placeholder="Tank Type" [value]="aquarium.type"
                            [(ngModel)]="aquariumType" [disabled]="(updating | async)">
                    </mat-form-field>

                </div>
            </div>
            <div class="card-body">

            </div>
            <div class="card-body">
                <button class="m-2 btn btn-success" (click)="saveChanges()" [disabled]="(updating | async)">Save
                    Changes</button>
                <button class="m-2 btn btn-primary" (click)="resetDefault()" [disabled]="(updating | async)">
                    Reset Settings</button>
                <mat-error *ngIf="error$ | async as error">{{error.message}}</mat-error>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="card w-100">
            <div class="card-body" *ngIf="aquarium">
                <div class="card-title">
                    <h3>Aquarium Device</h3>
                </div>
                <device-detail-form [aquarium]="aquarium"> </device-detail-form>
            </div>
        </div>
    </div>
    <div class="row m-2" *ngIf="aquarium.device">
        <div class="card w-100">
            <div class="card-title">
                <h3>Photo Configuration</h3>
            </div>
            <p class="card-text text-muted">
                This is the configuration for the photo module for snapshots. These are all the settings supported
                by the RaspberryPi Camera module v2. The reset button will provide you the system defaults.
            </p>
            <snapshot-photo-config-detail></snapshot-photo-config-detail>
        </div>
    </div>
    <div class="row m-2">
        <div class="card w-100">
            <div class="card-body" *ngIf="aquarium">

                <div class="card-title">
                    <h3>Aquarium Operations</h3>
                </div>
                <p class="card-text">
                    Perform operations on your aquarium here. You may remove your aquarium here. These actions
                    may
                    be
                    irreversible.
                </p>
                <h6>Aquarium</h6>
                <button class="m-2 btn btn-secondary" (click)="aquariumExport()">Export Aquarium</button>
                <button class="m-2 btn btn-danger" (click)="aquariumDelete()" [disabled]="deleting | async">Delete
                    Aquarium</button>
                <ng-container *ngIf="deleting | async">
                    <fa-icon class="mr-2" [icon]="faSpinner"></fa-icon>
                </ng-container>
                <ng-container *ngIf="deleteError | async as error">
                    <mat-error>{{error.message}}</mat-error>
                </ng-container>
                <h6>Snapshots</h6>
                <button class="m-2 btn btn-primary" (click)="snapshotManage()">Manage..</button>
                <button class="m-2 btn btn-danger" (click)="snapshotDeleteAll()">Delete All</button>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title">
                    <h3>Application Log</h3>
                </div>
                <label for="exampleFormControlTextarea1">Aquarium Service</label>
                <textarea disabled class="form-control rounded-0" id="exampleFormControlTextarea1"
                    rows="10">{{applicationLog$ | async}}</textarea>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loading>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>