<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="mt-5 card p-3">
                <h4 class='text-center'>Feed Fish</h4>
                <small class="text-muted">Three days have passed since you've fed your fish! You should feed your fish soon!</small>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-select placeholder="Select Fish" [formControl]="newFeedingFish" multiple>
                                <mat-select-trigger>
                                    <!-- {{newFeedingFish.value ? newFeedingFish.value[0] : ''}} -->
                                    <span *ngFor="let selectedFish of newFeedingFish.value">
                                        {{selectedFish}}
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let f of fish" [value]="f">{{f}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Food Brand..." aria-label="Number" matInput
                                [formControl]="newFeeding.foodBrand" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Food Name..." aria-label="Number" matInput
                                    [formControl]="newFeeding.foodBrand" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Amount</mat-label>
                            <input matInput type="number" class="form-control" aria-describedby="amountHelp"
                                placeholder="Amount">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field class="w-100 m-2">
                        <textarea matInput placeholder="Additional notes..."></textarea>
                    </mat-form-field>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-primary m-2">Feed Fish</button>
                </div>

            </div>
        </div>
        <div class="col text-center">
            <h4 class='mt-5'>Feeding History</h4>
            <feed-table class="m-3"></feed-table>
        </div>
    </div>
</div>