div {
  outline: none;
}
.aquariumCarousel
{
  height:450px;
}
.currentImage
{
  position: relative;
  float:left;

  background-color:#F6F6F6;

  border:1px solid #A8A8A8;
  width:700px;
  height:100%;
  
  .expandedImage {
    width:100%;
    height:100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:#393939;
  }
  .banner {
    position:absolute;
    bottom:0px;
    width:100%;
    background-color:rgba(50,50,50,0.4);
    color:white;
    padding:5px;
    font-size:10pt;
  }
}

.scroll-area
{
  height:100%;
  float:left;
  background-color:#F6F6F6;
  border:1px solid #A8A8A8;
  border-left:0px;
  overflow: auto;
  overflow-x: hidden;
  width:112px;

  .content
  {
    background-color:darkgray;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:72px;
    width:100%;
    margin:0px;

    border:1px solid gray;
  }

  .selected
  {
    border-color:limegreen;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}