.select-schedule-modal-component {
    table {
        width:100%;
        tr.mat-row {
            cursor: pointer;
        }
        tr.mat-row:hover {
            background-color:rgba(150,150,150,0.1);
        }   
    }
}