<div class="aquarium-preview-component row m-2">
    <div class="card">

        <div class="card-body">
            <div class="card-title">
                <h3><img src="assets/record.png" height=32px /> Live Aquarium</h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="row">
                            <h6 class="m-1">Parameters</h6>

                        </div>
                        <table>
                            <tr>
                                <td>Temperature: </td>
                                <td>70F</td>
                            </tr>
                            <tr>
                                <td>Water PH: </td>
                                <td>6.5ppm</td>
                            </tr>
                            <tr>
                                <td>Ammonia: </td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Nitrate: </td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Nitrate: </td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Fish Count: </td>
                                <td>4</td>
                            </tr>
                        </table>
                        <div class="row">
                            <h6 class="m-1">Tasks</h6>
                        </div>
                        <div class="row"><a class="link" routerLink='./maintenance/tasks'
                                [routerLinkActive]='["link-active"]'>View
                                All
                                Tasks</a>
                        </div>
                        <div class="row"><a class="link" routerLink='./maintenance/feeding'
                                [routerLinkActive]='["link-active"]'>Feed Fish</a>
                        </div>



                        <div class="row">
                            <h6 class="m-1">Lighting</h6>

                        </div>
                        <div class="mt-1">
                            <button class="btn btn-danger">Turn Off</button>
                        </div>
                        <div class="mt-1">
                            <a class="link" [routerLink]='["/maintenance","tasks"]'
                                [routerLinkActive]='["link-active"]'>Modify lights...</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <aquarium-preview-scroller></aquarium-preview-scroller>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>