<div class="col-lg-12">
    <div class="card mr-1">
        <div class="card-body w-100">
            <div class="card-title">
                <div class="row">
                    <div class="col ">
                        <h5>
                            {{this.label}}
                            <button *ngIf="addClicked" class="p-1 btn btn-link" (click)="addClicked(label)">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                            <button *ngIf="info" class="p-1 btn btn-link" (click)="toggleInfoBox()">
                                <fa-icon [icon]="faInfo"></fa-icon>
                            </button>
                            <div class="float-right">
                                <button class="btn btn-link" (click)="toggleExpansion()">
                                    <fa-icon [icon]="expanded ? faCaretLeft:faCaretRight"></fa-icon>
                                </button>
                            </div>
                        </h5>

                    </div>

                </div>
                <div #chartContainer class="row">
                    <div class="m-1 alert alert-info" *ngIf="info && infoBox">
                        {{info}}
                    </div>
                    <canvas #alkalinityChart class="bg-gray" [class.d-none]="!this.data || this.data.length == 0"></canvas>
                    <ng-container *ngIf="this.data && this.data.length > 0 else noData">

                    </ng-container>
                    <ng-template #noData>
                        <div class="card-body w-100">
                            <h4>No data available</h4>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>

    </div>
</div>