<h3 class="p-2">Device</h3>
<device-detail-view *ngIf="aquarium.device as device" [aquarium]="aquarium"></device-detail-view>

<h3 class="p-2">Peripherials</h3>
<device-peripherials [aquarium]="aquarium"></device-peripherials>

<h3 class="p-2">Device Information</h3>
<p class="text-muted">
    This is what the pi is linked to currently.
</p>
<device-information [aquarium]="aquarium"></device-information>


<device-detail-form *ngIf="aquarium.device as device" [aquarium]="aquarium"></device-detail-form>

<a class="btn btn-secondary mb-2" data-toggle="collapse" href="#multiCollapseExample1" role="button"
    aria-expanded="false" aria-controls="multiCollapseExample1" (click)="clickGetDeviceLog()">Get
    Device Log</a>
<div class="flex collapse multi-collapse" id="multiCollapseExample1">
    <div class="card card-body " style="height:250px">
        <code class="overflow-auto">{{deviceLog}}</code>
    </div>
</div>