.fish-container-component
{
    .hidden {
        display: none;
    }
    padding:0px;

    .banner
    {
        margin:0px;
        width:100%;
        height:200px;
        position: relative;

        h1 {
            padding: 5px;
        }
    }
    .thumbnail {
        width:200px;
        height:200px;
        background-color:gray;
    }
    .navigation
    {
        position: absolute;
        bottom: 0px;
        width:100%;
        height:50px;
    }
}