<ng-container class="aquarium-photos-container">
    <h3>Photos</h3>
    <p>All your aquarium photos here</p>
    <div class="card mb-2">
        <div class="card-body">
            <div class="card-title">
                <h5>Aquarium</h5>
            </div>
            <aquarium-photos></aquarium-photos>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <div class="card-title">
                <h5>Snapshot</h5>
            </div>
            <snapshot-photos></snapshot-photos>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <div class="card-title">
                <h5>Fish</h5>
            </div>
            <fish-photos></fish-photos>
        </div>
    </div>
</ng-container>