.photo-expanded-modal
{
    position: relative;
    
    img {
        max-height:100%;
        max-width:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .banner {
        position: absolute;
        height:30px;
        right:0px;
    }
    .banner.bottom {
        bottom:20px;
    }
    .banner.top {
        top:0px;
        color:white;
    }
}
::ng-deep .darkDialog .mat-dialog-container
{
    background-color:#343434;

}
.close
{
    position:absolute;
    
}
