<div class="manage-species-modal-component">
  <h1 mat-dialog-title>Manage Species</h1>
  <ng-container *ngIf="(selectedSpeciesId || addingSpecies) else listing">
    <species-detail-form [speciesId]='selectedSpeciesId' (onSuccess)='clickBack()'></species-detail-form>
  </ng-container>
  <ng-template #listing>
    <ng-container *ngIf="addingSpecies else tableList"></ng-container>
    <species-table (rowClicked)="clickSpecies($event[1])"></species-table>
  </ng-template>
  <mat-dialog-actions align="end">
    <button *ngIf="(selectedSpeciesId || addingSpecies)" class="m-2 btn btn-dark" (click)='clickBack()'>Back</button>
    <button  *ngIf="!(selectedSpeciesId || addingSpecies)" class="m-2 btn btn-secondary md-float-right" (click)='clickNewSpecies()'>Add Species...</button>
    <button class="m-2 btn btn-primary" [mat-dialog-close]="true">Done</button>
  </mat-dialog-actions>
</div>