<ng-container *ngIf="aquarium.device as device else noDevice">
    <h3 class="p-2">Device</h3>
    <device-detail-view [aquarium]="aquarium"></device-detail-view>
    <device-schedule-builder [device]="device"></device-schedule-builder>
    <device-peripherials [aquarium]="aquarium"></device-peripherials>
    <device-information [aquarium]="aquarium"></device-information>

    <device-detail-form [aquarium]="aquarium"></device-detail-form>

    <device-log [device]="device"></device-log>
</ng-container>
<ng-template #noDevice>
    <device-detail-form [aquarium]="aquarium"></device-detail-form>
</ng-template>