<div class="row">
  <div class="col">


    <mat-form-field>
      <input [disabled]="disabled" type="number" placeholder="Amount Added (Gallons)" matInput required
        [(ngModel)]="waterChange.gallonsAdded">
    </mat-form-field>

  </div>
  <div class="col">
    <mat-form-field>
      <input [disabled]="disabled" type="number" placeholder="Amount Removed (Gallons)" matInput required
        [(ngModel)]="waterChange.gallonsRemoved">
    </mat-form-field>
  </div>
  <div class="col p-2">
    <visual-aquarium [aquarium]="aquarium" [options]="getAquariumVisual()"></visual-aquarium>
  </div>
</div>
<div class="row">
  <button class="btn btn-success" (click)="clickSubmit()">Add Water Change</button>
</div>