<div>
  <h1 mat-dialog-title>Aquarium Account Login</h1>

  <mat-form-field>
    <input [disabled]="disabled" matInput placeholder="Email" [(ngModel)]="email">
  </mat-form-field>

  <mat-form-field>
    <input [disabled]="disabled" matInput placeholder="Password" type="password" [(ngModel)]="password">
  </mat-form-field>
  <mat-error>{{error}}</mat-error>

  <mat-dialog-actions>
    <button [disabled]="disabled" class="m-2 btn btn-secondary" mat-dialog-close>Close</button>
    <button [disabled]="disabled" class="m-2 btn btn-success" (click)="clickLogin();">Login</button>
  </mat-dialog-actions>
</div>