<div class="row" *ngIf="sensor">
  <div class="col">
    <h6>{{sensor.name}} <small class="text-muted"><b>Gpio Port</b>: {{sensor.pin}}</small>
    </h6>
    <div class="mat-body">
      <fa-icon [icon]="faCarBattery"></fa-icon> {{sensor.polarity ? "Write":"Read"}}
    </div>
    <div class="mat-body">
      <b>Type</b>: {{getSensorReadableType(types,sensor.type)}}
    </div>
    <div *ngIf="sensor.alwaysOn">
      <b>Always On</b>
    </div>
    <div>
      Value: <b>{{getSensorValue(sensor)}}</b>
    </div>
  </div>
  <div class="col-sm">
    <button (click)="clickEditSensor()" class="float-md-right btn btn-link ml-2" [disabled]="disabled">
      <fa-icon [icon]="faEdit"></fa-icon> Edit
    </button>
    <button *ngIf="sensor.polarity" (click)="clickTestSensor()" class="float-md-right btn btn-link"
      [disabled]="disabled || !sensor.polarity">
      <fa-icon [icon]="faVial"></fa-icon> Test
    </button>
  </div>
</div>
<hr>