<div class="row bg-theme-secondary">
	<div class="col-lg-8">
		<h1 class="display-4">Fish</h1>
		<p class="lead">
			View the fish in your aquarium.
		</p>
	</div>
</div>
<ng-container *ngIf="aquarium$ | async as aquarium">
    <div class="empty-card" *ngIf="!aquarium.fish || aquarium.fish.length == 0 else hasFish">
        <p>
            You do not have any fish! Click to add new fish to your aquarium.
        </p>
        <div>
            <fish-create-button [aquarium]="aquarium"></fish-create-button>
        </div>
    </div>
    <ng-template #hasFish>
        <fish-card-detailed *ngFor="let fish of aquarium.fish" [fishId]="fish.id" class="m-2"></fish-card-detailed>
        <fish-create-button [aquarium]="aquarium"></fish-create-button>

    </ng-template>
    <h4 class='mt-5'>Feeding History</h4>
    <feeding-table-list class="m-3" [aquariumId]='aquarium.id' [fishId]='selectedFishId'></feeding-table-list>
</ng-container>