<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Aquarium Monitor</a>

      <button *ngIf="aquarium$ | async as aquarium" class="btn nav-link text-dark" (click)="openAquariumSelection()">{{aquarium.name}}</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Aquarium Navigation -->
      <div *ngIf="aquarium$ | async as aquarium" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/" + aquarium.id]' [routerLinkActiveOptions]='{ exact: true }'
              [routerLinkActive]='["link-active"]'>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/" + aquarium.id + "/parameters"]' [routerLinkActiveOptions]='{ exact: true }'
              [routerLinkActive]='["link-active"]'>Parameters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/" + aquarium.id + "/fish"]'
              [routerLinkActive]='["link-active"]'>Fish</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/" + aquarium.id + "/photos"]'
              [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]="{exact: false}">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/" + aquarium.id + "/maintenance"]'
              [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]="{exact: false}">Maintenance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/" + aquarium.id + "/settings"]'
              [routerLinkActive]='["link-active"]'>Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>