<div class="">
  <h4 class="justify-content-center">Add Task
    <p *ngIf="loading">
      <mat-progress-spinner color="warn" mode="indeterminate">
      </mat-progress-spinner>
    </p>
  </h4>
  <div class="row">
    <p>Adding task to {{device.name}}</p>
  </div>
  <div class="row">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" aria-describedby="taskNameHelp"
        placeholder="Task Name" [(ngModel)]="newTask.name">
      <small id="taskNameHelp" class="form-text text-muted">Task Name</small>
    </div>
    <div class="col">
      <generic-select label="Task Type" selectType="DeviceTaskTypes" [(inputModel)]="newTask.taskTypeId">
      </generic-select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Set
      <device-sensor-select [(inputModel)]="newTask.targetSensor" [inputModelId]="newTask.targetSensorId">
      </device-sensor-select>
      To
      <generic-select label="Sensor Value" selectType="DeviceSensorValues" [(inputModel)]="newTask.targetSensorValue">
      </generic-select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>End Conditions</h6>
      <!-- <mat-checkbox [(ngModel)]='maxRunTimeChecked' class="pl-2">Maximum Run Time</mat-checkbox> -->
      <ng-container>
        <div>
          <mat-form-field>
            <input [disabled]="loading" type="number" matInput placeholder="Maximum Runtime (s)"
              [(ngModel)]="newTask.maximumRuntime">
          </mat-form-field>
        </div>

      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <mat-checkbox [(ngModel)]='readSensorChecked' class="pl-2">Read Sensor Value</mat-checkbox>
      </div>
      <div [class.d-none]="!readSensorChecked">
        When
        <device-sensor-select [(inputModel)]="newTask.triggerSensor">
        </device-sensor-select>
        is
        <generic-select label="Sensor Value" selectType="DeviceSensorValues"
          [(inputModel)]="newTask.triggerSensorValue">
        </generic-select>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button [disabled]="loading" class="m-2 btn btn-danger" mat-dialog-close>Cancel</button>
    <button [disabled]="loading" class="m-2 btn btn-success md-float-right" (click)='clickFinishTask()'>Finish</button>
  </mat-dialog-actions>
</div>