/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~angular-notifier/styles";
@import "~ng-pick-datetime/assets/style/picker.min.css";

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #859BD3 !important;
}


.empty-card
{
    text-align: center;
    width:100%;
    min-height:130px;
    margin:2px;
    padding:5px;
    border-radius:2px;
}