/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import "~angular-notifier/styles";
//@import "~ng-pick-datetime/assets/style/picker.min.css";


body,.mat-drawer-container {
    background-color: #f5f6f8;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #859BD3 !important;
}

/* For snackbar notifications */
.cdk-overlay-container {
    position: fixed;
    z-index: 10000;
}
.notification.success {
    background-color: limegreen;
    color: white;
}
.notification.error {
    background-color: indianred;
}
.notification.warning {
    background-color: gold;
}

.empty-card
{
    text-align: center;
    width:100%;
    min-height:130px;
    margin:2px;
    padding:5px;
    border-radius:2px;
}
.expanded-photo-dialog .mat-dialog-container {
    padding: 0px;
    background-color:black;
}


p.lead {
    max-width: 80%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
p.content {
    max-width: 80%;
}

.bg-theme-secondary {
    background-color:rgb(225, 236, 245);
}
.gpio-tooltip {
    white-space: pre-line;
}
:root {
    --dark-color: #011627;
    --pink-color: #E63946;
    --light-color: #F1FAEE;
}



.generic-list {
    min-height:400px;
    max-height: 400px;
    border:1px solid #dcdcdc;
    background-color:#e6f3f5;
    overflow: auto;
  
  
    .generic-list-item {
        cursor: pointer;
        padding: 0.75rem 1.25rem;
        background-color: #fff;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .generic-list-item:hover {
        background-color:rgba(150,150,150,0.1);
    }   
  }