<div class="card m-3 shadow">
        <div class="card-body">
            <h5 class="card-title">Water Change</h5>
            <h6 class="card-subtitle mb-2 text-danger">Over Due</h6>
            <p class="card-text">A water change is reccommended. It has been 14 days since the last water change and a 20% water change is reccommended to maintain a healthy living environment.</p>
            <a href="#" class="card-link">Complete</a>
            <a href="#" class="card-link">Dismiss</a>
        </div>
    </div>
<div class="card m-3 shadow">
    <div class="card-body">
        <h5 class="card-title">Water Test</h5>
        <h6 class="card-subtitle mb-2 text-info">Today</h6>
        <p class="card-text">It has been 4 days since the last water test has been recorded and another is reccomended. Testing the water for Nitrite, Nitrate, Ammonia and pH levels is reccommended. An accurate test helps generate accurate maintenace suggestions for your aquarium.
        </p>
        <a href="#" class="card-link">Complete</a>
        <a href="#" class="card-link">Dismiss</a>
    </div>
</div>
<div class="card m-3 shadow">
        <div class="card-body">
            <h5 class="card-title">Feed Fish (fish1, fish2)</h5>
            <h6 class="card-subtitle mb-2 text-muted">2 days</h6>
            <p class="card-text">It has been 5 days since these fish have been fed. It is reccommended that you feed your fish often to maintain a healthy lifestyle and living environment.
            </p>
            <a href="#" class="card-link">Complete</a>
            <a href="#" class="card-link">Dismiss</a>
        </div>
    </div>
    