<h3>Tasks</h3>
<div class="aquarium-preview-component row">
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Water Change</h5>
            <h6 class="card-subtitle mb-2 text-muted">3 days</h6>
            <p class="card-text">This tank requires a water change to maintence adequete living environments for fish.
            </p>
            <a href="#" class="card-link">Complete</a>
            <a href="#" class="card-link">Dismiss</a>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Water Test</h5>
            <h6 class="card-subtitle mb-2 text-muted">5 days</h6>
            <p class="card-text">A water test needs to be completed. PH, Nitrite, Nitrate, Ammonia</p>
            <a href="#" class="card-link">Complete</a>
            <a href="#" class="card-link">Dismiss</a>
        </div>
    </div>
</div>