<div class="post-create-thread-modal-component">
  <h3>New Thread</h3>
  <div class="container alert alert-danger mt-2" *ngIf="error">{{error}}</div>
  <mat-form-field>
    <input matInput placeholder="Thread Name" [(ngModel)]="thread.title">
  </mat-form-field>
  <div mat-dialog-actions align="end">
    <button [disabled]='disabled' class="m-2 btn btn-danger" mat-dialog-close>Cancel</button>
    <button [disabled]='disabled' class="m-2 btn btn-success" (click)="clickSubmit()">Submit</button>
  </div>
</div>