.icon {
    float:left;
    border:2px solid rgb(240, 240, 240);
    border-radius:50px;
    background-color:white;
    height: 32px;
    width: 32px;
}
.operations {
    visibility: hidden;
}
.row-item:hover {
    .operations {
        visibility: visible;
    }
}