<div class="row-item">
  <div class="row" *ngIf="device.tasks">
    <div class="col-md">
      <b>
        <span class="text-muted" *ngIf="scheduledJob.id">#{{scheduledJob.id}}</span>
        {{readableDateTimestamp(scheduledJob.startTime)}}</b>
      <br>
      <span class="text-muted">({{readableDuration(scheduledJob.startTime)}})</span>
    </div>
    <ng-container *ngIf="getTaskFromJob(scheduledJob) as task">
      <div class="col">
        <h6>{{task.name}}</h6>
        <span class="text-muted" *ngIf="getSensorFromId(task.targetSensorId) as sensor">
          Set <b>{{sensor.name}}</b> to <b>{{getSensorValueFromId(task.targetSensorValue)}}</b>
        </span>
      </div>
      <div class="col" *ngIf="getSensorFromId(task.triggerSensorId) as sensor else maxTime">
        Until
        <b>{{sensor.name}}</b> reads <b>{{getSensorValueFromId(task.triggerSensorValue)}}</b>
        <br> or for <b>{{readableDurationLength(scheduledJob.startTime,scheduledJob.maximumEndTime)}}</b>
      </div>
    </ng-container>

    <ng-template #maxTime>
      <div class="col">
        Until
        <b>{{readableDurationLength(scheduledJob.startTime,scheduledJob.maximumEndTime)}}</b>
      </div>
    </ng-template>
    <div class="col">
      Job Status: <b>{{getStatusFromJob(scheduledJob)}}</b>
      <br>
      Est. End Time: <b>{{readableTimestamp(scheduledJob.maximumEndTime)}}</b>
    </div>
    <div class="col" *ngIf="isJobCompleted(scheduledJob)">
      Actual End Time: <b>{{readableTimestamp(scheduledJob.endTime)}}</b>
      <br>
      End Reason: <b>{{getEndReasonFromJob(scheduledJob)}}</b>
    </div>
    <div class='col-sm operations'>
      <button *ngIf="isJobRunning(scheduledJob)" (click)="clickStopScheduledJob(scheduledJob)"
        class="btn btn-link text-danger">
        <fa-icon size="lg" [icon]="faMinusCircle"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row" *ngIf="isJobRunning(scheduledJob)">
    <div class="row m-3 w-100">
      <mat-progress-bar [value]="currentScheduledJobProgress"></mat-progress-bar>
    </div>
  </div>
</div>