<div>
  <mat-form-field class="m-1">
    <input [disabled]="disabled" type="number" placeholder="Amount (Gallons)" matInput required
      [(ngModel)]="waterDosing.gallons">
  </mat-form-field>
  <mat-form-field class="m-1">
    <input [disabled]="disabled" type="text" placeholder="Type" matInput required [(ngModel)]="waterDosing.type">
  </mat-form-field>
  <mat-form-field class="m-1">
    <input [disabled]="disabled" type="text" placeholder="Brand" matInput required [(ngModel)]="waterDosing.brand">
  </mat-form-field>
  <mat-form-field class="m-1">
    <input [disabled]="disabled" type="text" placeholder="Product" matInput required [(ngModel)]="waterDosing.product">
  </mat-form-field>
  <button class="btn btn-success" (click)="clickSubmit()">Add Water Dosing</button>
</div>