
<header class="main-header">

  <nav
    class='navbar  fixed-top nav-spacer navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow'>

    <div class="container">
      <button *ngIf="sidenav" mat-button (click)="sidenav.toggle()">
        <fa-icon class="" [icon]="faDrawer"></fa-icon>
      </button>
      <a *ngIf="user$ | async" class="navbar-brand" [routerLink]='["/dashboard"]'><img height="30px"
          src="/assets/logo.png" />Dashboard</a>
      <a *ngIf="!(user$ | async)" class="navbar-brand" [routerLink]='["/"]'><img height="30px"
          src="/assets/logo.png" />Aquarium Monitor</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>




      <!-- Aquarium Navigation -->
      <div class="navbar-collapse" [class.collapse]='!isExpanded'>

        <!-- 
        <button *ngIf="aquarium$ | async as aquarium" class="btn nav-link"
          (click)="openAquariumSelection()">{{aquarium.name}}</button>
          -->
        <search-form class="flex-grow-1"></search-form>
        <ng-container *ngIf="(user$ | async) as user else noAccount">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <button class="btn btn-link" [routerLink]="['/species']">Species</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-link" [routerLink]="['/discussion']">Community</button>
            </li>
            <li class="nav-item">
              <nav-menu-notifications></nav-menu-notifications>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{user.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]='["/p/" + user.id]'>Profile</a>
                <a class="dropdown-item" [routerLink]='["/settings"]'>Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/" (click)="clickLogout()">
                  <fa-icon [icon]="faLogout" class="mr-1"></fa-icon>Logout
                </a>
              </div>
            </li>
          </ul>
        </ng-container>
        <ng-template #noAccount>
          <a routerLink="/login" class="btn">Login</a>
        </ng-template>
      </div>
    </div>
  </nav>
  <div class="nav-spacer"></div>
</header>