.users-table {
  tr.mat-row:hover {
    background-color: #f0f0f0;
  }

  .currentUser {
    color:#979797;
  }
  .operations {
    display: none;
  }
  tr:hover .operations {
    display: block;
  }
}
