<div class="card m-2">
  <div class="card-body">
    <h5 class="card-title">Device Information</h5>
    <p class="text-muted">
      This is the information contained on the pi itself. In the event the pi loses connection, the schedules may
      become out
      of sync. You may see exactly what is deployed to the pi here. You may also view the queue of tasks available.
    </p>
    <div *ngIf="deviceInformation$ | async as deviceInformation else loading">
      <div class="row">
        <div class="col-sm">
          Aquarium:
        </div>
        <div class="col-sm">
          {{deviceInformation.aquarium ? deviceInformation.aquarium.name:"None"}}
        </div>
      </div>
      <h6>Schedules on Device</h6>
      <table class="w-100">
        <tr *ngFor="let schedule of deviceInformation.schedules">
          <td>{{schedule.name}}</td>
          <td>{{schedule.host}}</td>
        </tr>
      </table>
      <hr>
      <h6>Configuration</h6>
      <div class="row">
        <div class="col">
          <pre><code>{{deviceInformation.config}}</code></pre>
        </div>
      </div>
    </div>
    <ng-template #loading>
      Loading...
    </ng-template>
  </div>
</div>