<div class="">
  <div class="row">
    <div class="col">
      <h4 class="justify-content-center">{{schedule.id ? "Edit Schedule":"Create Schedule"}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h6>General</h6>
      <div class="form-group">
        <label for="exampleInputEmail1">Schedule Name</label>
        <input [disabled]="disableInput" type="email" [(ngModel)]="schedule.name" class="form-control"
          id="exampleInputEmail1" aria-describedby="scheduleNameHelp" placeholder="Schedule Name">
        <small id="scheduleNameHelp" class="form-text text-muted">Friendly schedule name</small>
      </div>
      <h6>Task Assignments</h6>
      <div class="generic-list">
        <div *ngFor="let t of schedule.taskAssignments" class="generic-list-item">
          <create-task-list-item  [disabled]="disableInput" [schedule]='schedule' [taskAssignment]='t'></create-task-list-item>
        </div>
      </div>

      <div class="row">
        <button [disabled]="disableInput" class="btn btn-primary" (click)="clickAddTask()">Add Task</button>
      </div>

    </div>
  </div>

  <div class="row">
    <div mat-dialog-actions align="end">
      <button [disabled]="disableInput" class="m-2 btn btn-danger" mat-dialog-close>Cancel</button>
      <button [disabled]="disableInput" class="m-2 btn btn-success" (click)='clickSaveSchedule()'>Save Schedule</button>
    </div>
  </div>
</div>