<div class="container">
  <mat-card class="m-5">
    <mat-card-title>
      <h3>Select an Aquarium</h3>
    </mat-card-title>
    <ng-container *ngIf="loading | async">
      <div class="row justify-content-center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="!(loading | async)">
      <mat-action-list>
        <button *ngFor="let aquarium of aquariums | async" mat-list-item [routerLink]='["/" + aquarium.id]' (click)="selectAquarium(aquarium)"> {{aquarium.name}}
        </button>
      </mat-action-list>
      <ng-container *ngIf="connectionError">
        <mat-error>Unable to retrieve aquarium list.</mat-error>
        <div class="row">
          <button class="m-2 btn btn-secondary" (click)="loadAquariums()">Reconnect</button>
        </div>
      </ng-container>
    </ng-container>

  </mat-card>
</div>