<div class="aquarium-nav-bar" *ngIf="(user$ | async) as user">
  <span>
    <a class="nav-link" [routerLink]='["/dashboard"]' [routerLinkActiveOptions]='{ exact: true }'
      [routerLinkActive]='["link-active"]'>
      <fa-icon [icon]="icon_Aquariums" class="mr-2"></fa-icon>Dashboard
    </a>
  </span>
  <span>
    <a class="nav-link" [routerLink]='["/aquariums"]' [routerLinkActiveOptions]='{ exact: true }'
      [routerLinkActive]='["link-active"]'>
      <fa-icon [icon]="icon_Aquariums" class="mr-2"></fa-icon>Aquariums
    </a>
    <div>
      <aquarium-nav-bar></aquarium-nav-bar>
    </div>
  </span>
  <span>
    <a class="nav-link" [routerLink]='["/"]' [routerLinkActiveOptions]='{ exact: true }'
      [routerLinkActive]='["link-active"]'>
      <fa-icon [icon]="icon_Journal" class="mr-2"></fa-icon>Journal
    </a>
  </span>
  <span>
    <a class="nav-link" [routerLink]='["/"]' [routerLinkActiveOptions]='{ exact: true }'
      [routerLinkActive]='["link-active"]'>
      <fa-icon [icon]="icon_Calendar" class="mr-2"></fa-icon>Calendar
    </a>
  </span>
  <span>
    <a class="nav-link" [routerLink]='["/species"]' [routerLinkActiveOptions]='{ exact: true }'
      [routerLinkActive]='["link-active"]'>
      <fa-icon [icon]="icon_Species" class="mr-2"></fa-icon>Species
    </a>
  </span>

  <bugreport-button class="bugbutton"></bugreport-button>
</div>