<div class="row bg-theme-secondary">
	<div class="col-lg-8">
		<h1 class="display-4">Water Parameters</h1>
		<p class="lead">
			Manage your aquarium device, perform auto top off and look at device schedule status.
		</p>
	</div>

	<div class="col-lg-2 mt-4">
		<date-filter-selector [(range)]="dateRange" (updated)="updateFilteredDate()"></date-filter-selector>
	</div>
</div>
<!-- Tab Area -->
<div class="row bg-theme-secondary">
	<ul class="nav nav-tabs w-100">
		<li class="nav-item">
			<a class="nav-link" aria-current="page" [routerLink]="['overview']" [routerLinkActive]='["active"]' >Overview</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['list']" [routerLinkActive]='["active"]' >List</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" [routerLink]="['analysis']" [routerLinkActive]='["active"]'>Analysis</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['settings']" [routerLinkActive]='["active"]'>Settings</a>
		</li>
	</ul>
</div>
<router-outlet></router-outlet>