.home-container {
    display: block;
    background-image: url('https://static.livebooks.com/dc55dec483f44532b148d632384a20f7/i/a6cf1193def242ce8282a63cd6832196/1/GCuCv726vxAVM9sgguVj4g/23_0_61_1aquarium_maintenance_fishtank.jpg');
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
}