.aquarium-nav-bar {
  a {
    color: #3f5c7c;
    font-size:10pt;
    text-indent:10px;
  }
  .link-active {
    background-color:#dfe1e6;
    font-weight: 500;
  }
  .subContainer {
    margin-left:5px;
    background-color:rgba(239, 239, 239, 0.63);
  }
}
