<div class="row header">
  <div class="col-md-8">
    <h3>
      Auto Water Change
      <small *ngIf="deviceConnectionStatus != DeviceConnectionStatus.Connecting && checkEnabled()">
        <fa-icon [icon]="faCheck" class="mr-1"></fa-icon>Enabled
      </small>
      <small *ngIf="deviceConnectionStatus != DeviceConnectionStatus.Connecting && !checkEnabled()" class="disabled">
        <fa-icon [icon]="faTimes" class="mr-1"></fa-icon>Disabled
      </small>
      <small *ngIf="deviceConnectionStatus == DeviceConnectionStatus.Connecting">
        <fa-icon [icon]="faSpinner" class="mr-1"></fa-icon>Loading
      </small>
    </h3>
    <p class="text-muted" *ngIf="checkEnabled()">Automatic water changes are currently enabled based on your device settings. You can manage your task on the <a [routerLink]="['../schedule']">schedule</a> page.
      View all of your automatic water changes performed here.</p>
    <p class="text-muted" *ngIf="!checkEnabled()">Auto top off is currently disabled. To enable auto top off, go into <a
        [routerLink]="['../schedule']">Schedules</a> and create a new task with
      <b>Water Change Drain</b> task and <b>Water Change Replentish</b> task types.
    </p>
    <hr>
  </div>
</div>
<ng-container *ngIf="checkEnabled() else notEnabled">

  <ng-container *ngIf="getRunningJob() as job else onStandby">
    <!-- Running Card -->
    <div class="card">
      <div class="card-header">
        <h5>Running...</h5>
        <p class="text-muted">Auto top off is currently running</p>
      </div>
      <div class="card-body">

        <div class="row">
          <ul class="list-group w-50">
            <li class="list-group-item">
              Id: {{atoStatus.id}}
            </li>
            <li class="list-group-item">
              Start Time: {{parseDateFromUtc(atoStatus.startTime)}}
            </li>
            <li class="list-group-item">
              Estimated End Time: {{parseDateFromUtc(atoStatus.estimatedEndTime)}}
            </li>
            <li class="list-group-item">
              ATO Pump: Running
            </li>
            <li class="list-group-item">
              Water Level: {{atoStatus.floatSensorValue ? "Low":"High"}}
            </li>
          </ul>
        </div>
        <div class="row m-3">
          <mat-progress-bar [value]="currentATOProgress"></mat-progress-bar>
        </div>
        <div class="row">
          <button class="mt-2 btn btn-danger" (click)="clickStopATO()">Stop</button>
        </div>
        <div class="row">
          <ng-container *ngTemplateOutlet="timestamp"></ng-container>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #onStandby>
    <!-- Not currently running -->
    <div class="row" *ngIf="getNextATOJob() as job else notScheduled">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <div class="alert alert-info alert-dismissible fade show" role="alert"
              *ngIf="getNextATOJob() as job else checkATO">
              <p>Auto top off is scheduled to run <b>{{parseDate(job.startTime)}}
                  <small>({{parseDuration(job.startTime)}})</small></b>. If the task conditions are met the auto top off will begin.</p>
            </div>
            <ng-template #checkATO>
              <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="isRunnable()">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p>
                  We've detected that your water level is low! In order to maintain stable aquarium parameters we
                  recommend
                  topping
                  off your aquarium with more water.
                </p>
                <hr>
                <button class="btn btn-success" (click)="clickRunATO()">Run...</button>
              </div>
            </ng-template>
            <p>
              <button [disabled]="!isRunnable()" class="btn btn-success"
                (click)="clickRunATO()">Run...</button>
            </p>
          </div>
          <div class="col-sm-4 ml-auto">
            <h5>Sensors</h5>
            <div *ngIf="getSensorFromId(job.task.targetSensorId) as targetSensor">
              <h6 class="text-muted">Pump: <b>{{targetSensor.name}}</b></h6>
              <device-sensor-card [sensor]="targetSensor"></device-sensor-card>
            </div>
            <div *ngIf="getSensorFromId(job.task.triggerSensorId) as targetSensor">
              <h6 class="text-muted">Sensor: <b>{{targetSensor.name}}</b></h6>
              <device-sensor-card [sensor]="targetSensor"></device-sensor-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #notScheduled>
      Auto top off currently not scheduled.
    </ng-template>

  </ng-template>


</ng-container>



<!-- History -->
<div class="row" *ngIf="waterChangeHistory">
  <div class="col-lg-8">
    <div class="p-2">
      <h5>History</h5>
      <table class="waterChangeHistory table-sm w-100" style="height:180px">
        <thead>
          <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Scheduled Job</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ato of waterChangeHistory">
            <td>{{parseDateFromUtc(ato.startTime)}}</td>
            <td>
              <ng-container *ngIf="ato.endTime else invalid">
                {{parseDateFromUtc(ato.endTime,true)}}
                <small class="text-muted">
                  ({{computeTimeDifference(ato)}}s)
                </small>
              </ng-container>


            </td>
            <td>{{ato.scheduleJobId}}
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-link" (click)="loadBackward()" [disabled]="this.pagination.start == 0">
          <fa-icon [icon]="faCaretLeft" class="mr-1"></fa-icon>
        </button>
        Page: {{getPageNumber()}}
        <button [disabled]="!hasMore" class="btn btn-link" (click)="loadForward()">
          <fa-icon [icon]="faCaretRight" class="mr-1"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #invalid>
  <span class="text-muted">--:--</span>
</ng-template>
<ng-template #noStatus>
  <p>No automatic water changes performed on this device.</p>
</ng-template>
<ng-template #notEnabled>
  <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="atoRecommended">
    <p>Automatic water changes are not enabled on this device.</p>
  </div>
</ng-template>